<footer id="footer-outer" style="padding-top: 25px;padding-bottom: 5px">
    <div class="text-center" style="
    padding-bottom: 0px;">
        <ul class="list-inline">
            <li>
                <a href="/page/help01.html" target="_blank" class="divider">FAQ</a>
            </li>
            <li>
                <a href="/page/aboutus.html" target="_blank" class="divider">关于我们</a>
            </li>
            <li>
                <a href="/page/callus.html" target="_blank" class="divider">联系我们</a>
            </li>
            <li>
                <a href="/page/joinus.html" target="_blank" class="divider">加入我们</a>
            </li>
            <li>
                <a href="/page/terms.html" target="_blank" class="divider">使用协议</a>
            </li>
            <li>
                <a href="/page/scorerule.html" target="_blank" class="divider">积分规则</a>
            </li>
            <li>
                <a href="/page/secret.html" target="_blank">隐私条款</a>
            </li>
        </ul>
    </div>
    <div class="text-center text-muted" style="padding-top: 0px;">
        沪ICP备14040173号-2 , © 2014 bonday.cn
    </div>
</footer>

