<div class="popbox-header">
    <button class="cancel icon-remove" ng-click="js_close()"></button>
    <h3>收藏活动</h3>

</div>
<form name="add_task_form" ng-show="" wt-form-validate="{blurTrig:false,showMsg:false}"
      class="wt-form" novalidate role="form">
    <div class="popbox-body w_300">

        <div>
            此次收藏总共选中 <span ng-bind="statistics_info.all"></span> 位活动 <br />
            其中 <span ng-bind="statistics_info.collected"></span> 位已收藏    <br />
            收藏的活动将不会被重复收藏
        </div>

        <div class="form-group" ng-show="projects.length > 0">
            <label>选择收藏到项目：</label>
            <select class="form-control" ng-model="selected_project" required=""
                    ng-options="project as project.name for project in projects">
            </select>
        </div>
<!--         <div class="form-group" ng-show="projects.length > 0">
            <label>内容：</label>
            <div>
                <textarea class="js-task-name form-control ng-pristine ng-valid" autofocus=""
                      placeholder="输入活动内容" required
                      ng-model="new_task.temp_name" wt-enter="js_add_task(add_task_form, new_task)"></textarea>
            </div>

        </div>
 -->        <div ng-show="entries.length == 0">
            <p class="alert alert-info">必须创建项目后才可以收藏活动！
            </p>
            <button href="javascript:;" class="btn btn-success" ng-click="js_to_add_entry_pop()">开始添加项目</button>
        </div>
    </div>
   <!-- <div class="ml_15 mb_10" ng-show="!isFree && haveScore">
        收藏{{selectedCount}}人，需消耗{{10*selectedCount}}积分
    </div>-->
   <!-- <div class="ml_15 mb_10" ng-show="isFree">
        免费收藏{{selectedCount}}人
    </div>-->
    <!--<div class="ml_15 mb_10" ng-show="!isFree && !haveScore">您的积分不足，不能收藏该活动!<a href="/scorerule">如何获取积分？</a></div>-->

    <div class="popbox-footer" ng-show="projects.length > 0" data-ng-hide="send_success">
        <button ng-click="js_collect_task()"
                data-loading-text="收藏中..." loading-status="is_save_ing" class="btn btn-success float_left">确定收藏</button>
        <button ng-click="js_close(result)" class="btn">取消</button>
    </div>
    <div class="popbox-body" data-ng-show="send_success">
    <p class="alert alert-success">收藏成功！</p>
</div>
</form>
<form name="add_task_form" wt-form-validate="{blurTrig:false,showMsg:false}"
      class="wt-form" novalidate role="form">

    <div class="popbox-body w_300">
        <div class="form-group" ng-show="projects.length > 0">
            <label>选择收藏到项目：</label>
            <select class="form-control" ng-model="collect_task.project" required=""
                    ng-options="project as project.name for project in projects">
            </select>
        </div>
        <!--         <div class="form-group" ng-show="projects.length > 0">
                    <label>内容：</label>
                    <div>
                        <textarea class="js-task-name form-control ng-pristine ng-valid" autofocus=""
                              placeholder="输入活动内容" required
                              ng-model="new_task.temp_name" wt-enter="js_add_task(add_task_form, new_task)"></textarea>
                    </div>

                </div>
         -->        <div ng-show="entries.length == 0">
        <p class="alert alert-info">必须创建项目后才可以收藏活动！
        </p>
        <button href="javascript:;" class="btn btn-success" ng-click="js_to_add_entry_pop()">开始添加项目</button>
    </div>
    </div>
    <!-- <div class="ml_15 mb_10" ng-show="!isFree && haveScore">
         收藏{{selectedCount}}人，需消耗{{10*selectedCount}}积分
     </div>-->
    <!-- <div class="ml_15 mb_10" ng-show="isFree">
         免费收藏{{selectedCount}}人
     </div>-->
    <!--<div class="ml_15 mb_10" ng-show="!isFree && !haveScore">您的积分不足，不能收藏该活动!<a href="/scorerule">如何获取积分？</a></div>-->

    <div class="popbox-footer" ng-show="projects.length > 0" data-ng-hide="send_success">
        <button ng-click="js_collect_task()"
                data-loading-text="收藏中..." loading-status="is_save_ing" class="btn btn-success float_left">确定收藏</button>
        <button ng-click="js_close(result)" class="btn">取消</button>
    </div>
    <div class="popbox-body" data-ng-show="send_success">
        <p class="alert alert-success">收藏成功！</p>
    </div>
</form>


