<div class="modal-dialog dialog-shorcutkey">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="icon-keyboard"> 键盘快捷键</h3>
        </div>
        <div class="modal-body">
            <div class="shortcut-column row">
                <div class="shortcut-section col-xs-4">
                    <h4>通用</h4>
                    <ul>
                        <li>
                            <span class="key"><a>?</a></span>
                            <span>打开快捷键帮助窗口</span>
                        </li>
                        <li>
                            <span class="key"><a>~</a></span>
                            <span>展开折叠左侧全局导航</span>
                        </li>
                        <li>
                            <span class="key"><a>Esc</a></span>
                            <span>退出编辑状态或者关闭弹出菜单/窗口</span>
                        </li>
                        <li>
                            <span class="key"><a>E</a></span>
                            <span>进入活动/问答/文件/文档的编辑状态</span>
                        </li>
                        <li>
                            <span class="key"><a>W</a></span>
                            <span>打开添加关注菜单</span>
                        </li>
                        <li>
                            <span class="key"><a>Ctrl Enter</a></span>
                            <span>发表评论</span>
                        </li>
                        <li>
                            <span class="key"><a>@</a></span>
                            <span>在评论中打开项目成员菜单</span>
                        </li>
                        <li>
                            <span class="key"><a>:</a></span>
                            <span>在评论中打开表情菜单</span>
                        </li>
                    </ul>
                </div>
                <div class="shortcut-section col-xs-4">
                    <h4>项目</h4>
                    <ul>
                        <li>
                            <span class="key"><a>Shift T</a></span>
                            <span>切换到活动</span>
                        </li>
                        <li>
                            <span class="key"><a>Shift E</a></span>
                            <span>切换到日历</span>
                        </li>
                        <li>
                            <span class="key"><a>Shift F</a></span>
                            <span>切换到文件</span>
                        </li>
                        <li>
                            <span class="key"><a>Shift C</a></span>
                            <span>切换到问答</span>
                        </li>
                        <li>
                            <span class="key"><a>Shift D</a></span>
                            <span>切换到文档</span>
                        </li>
                        <li>
                            <span class="key"><a>Shift G</a></span>
                            <span>切换到简报</span>
                        </li>
                        <li>
                            <span class="key"><a>Shift A</a></span>
                            <span>切换到活动</span>
                        </li>

                        <li>
                            <span class="key"><a>Shift R</a></span>
                            <span>切换到回收站</span>
                        </li>
                    </ul>
                </div>
                <div class="shortcut-section col-xs-4">
                    <h4>活动</h4>
                    <ul>
                        <li>
                            <span class="key"><a>I</a></span>
                            <span>打开新建活动窗口</span>
                        </li>
                        <li>
                            <span class="key"><a>N</a></span>
                            <span>打开新建列表窗口</span>
                        </li>
                        <li>
                            <span class="key"><a>←</a></span>
                            <span>向左导航选择活动</span>
                        </li>
                        <li>
                            <span class="key"><a>↓/J</a></span>
                            <span>向下导航选择活动</span>
                        </li>
                        <li>
                            <span class="key"><a>↑/K</a></span>
                            <span>向上导航选择活动</span>
                        </li>
                        <li>
                            <span class="key"><a>→</a></span>
                            <span>向右导航选择活动</span>
                        </li>
                        <li>
                            <span class="key"><a>Enter</a></span>
                            <span>打开选中的活动</span>
                        </li>
                        <li>
                            <span class="key"><a>A</a></span>
                            <span>选中活动上传附件</span>
                        </li>
                        <li>
                            <span class="key"><a>C</a></span>
                            <span>设置选中活动为完成</span>
                        </li>
                        <li>
                            <span class="key"><a>D</a></span>
                            <span>设置选中活动的截止日期</span>
                        </li>
                        <li>
                            <span class="key"><a>L</a></span>
                            <span>选中活动设置标签</span>
                        </li>
                        <li>
                            <span class="key"><a>M</a></span>
                            <span>选中活动分配成员</span>
                        </li>
                        <li>
                            <span class="key"><a>Space</a></span>
                            <span>当前选中活动分配给自己</span>
                        </li>
                        <li>
                            <span class="key"><a>Shift</a></span>
                            <span>移动选中活动到左侧列表中</span>
                        </li>
                        <li>
                            <span class="key"><a>Shift</a></span>
                            <span>移动选中活动到右侧列表中</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>