<dl class="frame" data-minheight="160">
    <dt>
    <span class="title">基本设置</span>
    <ul class="tabs">
        <li>
            <a ng-class="{'active':current_tab == 'basic'}" href="javascript:;"
               ng-click="change_tab('basic')">修改个人资料</a>
        </li>
        <li>
            <a ng-class="{'active':current_tab == 'avatar'}" href="javascript:;"
               ng-click="change_tab('avatar')">修改头像</a>
        </li>
        <li>
            <a ng-class="{'active':current_tab == 'email'}" href="javascript:;" ng-click="change_tab('email')">修改邮箱</a>
        </li>
    </ul>

    </dt>
    <dd>

    </dd>
</dl>