
<div class="layout_content">
    <div class="layout_content_main no_sidebar height-noheader">
        <div class="mod_navbar">
            <div class="title">
                <h3><i class="icon-user mr_10"></i>帐户设置</h3>
            </div>
            <div class="main">
                <div class="pull-right">

                </div>
            </div>
        </div>

        <div class="center-panel-container no_sidebar height-nonav" ng-show="global.loading_done" wt-scroll>

            <dl class="frame" data-minheight="160">
                <dt>
                    <!--<span class="title">应用中心</span>-->
                    <ng-include src="'/view/account/account_tabs.html'"></ng-include>

                </dt>
                <dd>
                    <div data-ng-hide="part_loading_done" class="part-loading mt_20"></div>
                    <div data-ng-show="part_loading_done" class="table-list">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>应用名称</th>
                                <th>授权时间</th>
                                <th>过期时间</th>
                                <th>设置</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="app in account_apps">
                                <td>{{app.client_id | GetClientName}}
                            <span class="edition ng-binding edition-free" ng-class="{1:'edition-free', 2:'edition-business', 3:'edition-nonprofit'}[team.edition]">
                                官方
                            </span>
                                    <!--<span class="label label-success">官方</span>-->
                                </td>
                                <td>
                                    {{app.create_date | timeFullFormatZHCN}}
                                </td>
                                <td>
                                    永不过期
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn" data-placement="bottom"  data-ng-click="js_pop_decommissioning(app)">解除授权</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" data-ng-show="account_apps.length == 0">
                                    没有授权应用
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>


        </div>
    </div>

</div>