<ul class="nav navbar-nav navbar-right"
	ng-click="js_change_header_menu($event)">
	<li><a href="javascript:;" class="notice-menu" wt-inbox-trigger>
			<i class="icon-bell-alt mr_5"></i> <span class="label label-default"
			ng-class="{'label-danger':10>0}"> 10 </span>
	</a></li>

	<!--     <li class="divider-vertical hidden-xs"></li>
    <li>
        <a wt-tracker="Header|Menu|ButtonAdd" href="javascript:;"
           class="js-popbox" data-placement="bottom" 
           ng-click="js_pop_new_menu($event)">
            <i class="icon-plus mr_5"></i> 新建
        </a>
    </li>
 -->
	<!--     <li class="divider-vertical hidden-xs"></li>
    <li>
        <a wt-tracker="Header|Menu|Goto Inbox" ng-href="/inbox" class="notice-menu">
            <i class="icon-bell-alt mr_5"></i>
            <span class="label label-default"
                  ng-class="{'label-danger':notice_count>0}">
                {{notice_count}}
            </span>
        </a>
    </li>
 -->
</ul>