<div class="popbox-header">
    <button class="cancel icon-remove" ng-click="js_close()"></button>
    <h3> 新建</h3>
</div>
<div class="popbox-body">
    <ul class="popbox-menu">
        <li>
            <a href="/project/add">
                <i class="icon-inbox"></i> 新建项目<br>
                <span class="text-muted">
                项目是活动、文件、话题、文档、日程以及人员的集合，每位成员都只能看到自己参与的项目。
                </span>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/teams/add">
                <i class="icon-sitemap"></i> 新建团队 <br>
                <span class="text-muted">
                    团队是棒呆中最顶级的组织单元，使用团队组织项目和成员，每个成员可以加入多个团队。
                </span>
            </a>

        </li>

    </ul>
</div>
