<div class="row" style="padding-top: 25px;">
    <div class="input-group col-sm-8 col-sm-push-2" style="text-align: center;">
        <div class="row "  >
                            <span class="jiathis_style_24x24 pull-right" style="display: inline-block;">
                                <a class="jiathis_button_qzone" title="分享到QQ空间"></a>
                                <a class="jiathis_button_weixin" title="分享到微信"></a>
                                <a class="jiathis_button_tsina" title="分享到新浪微博"></a>
                                <a href="http://www.jiathis.com/share?uid=2006672" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" title="更多" target="_blank"></a>
                                <a class="jiathis_counter_style" style="display: none;"></a>
                            </span>
            <script type="text/javascript" >
                var jiathis_config={
                    title:"轻松做留学，就上棒呆！",
                    data_track_clickback:true,
                    siteNum:15,
                    sm:"email,renren,tsohu,feixin,kaixin001,cqq,tieba,hi,tianya,baidu,alibaba,hexun,douban,qq,ishare",
                    summary:"",
                    shortUrl:false,
                    hideMore:false
                }
                $(function(){
                    setTimeout(function(){
                        jiathis_config={summary:"留学邮件检测工具。想知道你的邮件中有那些词汇导致邮件发不出去吗？使用棒呆为留学人员定制的Spam Check工具，" +
                        "即可检测出邮件中会触发垃圾过滤的内容，只要讲这些敏感内容去掉或修改，将会大幅度提升你的留学邮件到达率！"}},500);
                })
            </script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2006672" charset="utf-8"></script>
        </div>
        <h2 ><img style="margin-right: 15px;" src="/img/spam_check.png" >Email Spam Checker</h2>
        <div class="text-muted">将邮件标题和正文输入下面的框中进行检测，排除垃圾敏感词汇，避免邮件进入垃圾箱！
            <a  class="show_underline"  href="javascript:;" style="color: #257db9;display: inline"
                ng-click="spamCheckDescribe()">
                详细说明看这里</a>
         </div>
    </div>
</div>
<div style="padding-top: 24px;width:960px;margin:0 auto">
    <div  style="height: 660px">
        <dl class="frame add_edit_panel" style="text-align: center;">
            <div class="mail-edit-container">
                <form name="mail_form" class="wt-form form-horizontal"
                       novalidate="">
                    <div class="wne-title">
                        <input type="text" class="wne-title-input" placeholder="邮件标题" style="width: 100%;padding-top: 5px;padding-bottom: 5px;
                        height: auto;background: #fff;font-size: 16px;border: 1px solid #e3e5f1;padding-left: 10px;line-height: normal;"
                                                  ng-model="vm.spam_check.title"
                                                  tabindex="1"
                                                  required >
                        <div class="title-seperator-line"></div>
                    </div>
                    <dd style="padding: 0px">
                        <div>
                            <div class="pos_relative editor-container mt_10 " style="height: 480px">
                                <div class="new-comment-edit" >
                                    <textarea style="top:-38px; width: 100%;height: 480px;border: 1px solid #e3e5f1;padding: 10px"  placeholder="邮件正文"
                                               ng-model="vm.spam_check.content" required>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mail_watch_bar text-center  clearfix">
                            <button class="btn btn-primary pull-left btn-success"
                                    ng-click="spamCheck()"  data-loading-text="检测中..."
                                    loading-status="is_saving">开始检测
                            </button>
                            <button class="btn btn-default pull-right" ng-disabled="vm.spam_check.title=='' || vm.spam_check.content==''"  ng-click="show_save_template()">保存为模板</button>
                        </div>
                        <!--<div  class="mail_watch_bar block-inline  clearfix" style="float: right">-->
                            <!--<button class="btn btn-default pull-right" ng-disabled="vm.spam_check.title=='' || vm.spam_check.content==''"  ng-click="show_save_template()">存为模板</button>-->
                        <!--</div>-->
                    </dd>
                </form>
            </div>
        </dl>
    </div>
</div>
