<div class="popbox-header">
	<button class="cancel icon-remove" ng-click="js_close()"></button>
	<h3>添加收件人</h3>
</div>
<div class="popbox-bodywrapper" wt-scroll>
	<div class="popbox-body">
		<input type="text" autofocus="" ng-model="search_user_input"
			placeholder="搜索活动" class="form-control help-block" /> <br />
		<ul class="popbox-menu">
			<li class="member-item"
				ng-repeat="task in tasks | filterMembers:search_user_input">
				<a href="javascript:;" tabindex="-1"
				ng-click="js_toggle_member(task)"> <i
					ng-class="{true: 'icon-ok', false: 'icon-xx'}[task.watched]"
					class="color_gray"></i> {{task.name}}
			</a>
			</li>
			<li class="divider"></li>
			<li><a href="javascript:;" ng-click="js_watch_all(edit_mail)"
				class="ng-binding"><i class="icon-xx"></i> <span
					ng-bind="{true:'添加全部活动',false:'所有活动已添加'}[edit_mail.tasks.length < tasks.length]"></span>
					({{ edit_mail.tasks.length }}/{{ tasks.length }})</a></li>
		</ul>
	</div>
</div>