<div ng-hide="coupon.is_edit">
    <div class="entity-title" ng-include="'/view/entity/coupon/coupon_title.html'">
    </div>
    <!--<wt-badges coupon="coupon"></wt-badges>-->
    <wt-coupon-tags coupon="coupon" tagtype="normal"></wt-coupon-tags>
    <div class="new-tag"
         ng-show="global.is_outter==false"
         wt-permission="[permission,project.info.curr_role,1,2]">
        <a href="javascript:;" ng-click="js_show_add_tag_editor(coupon)"
           wt-tracker="Task Panel|Main|Add Attachments"
           ng-hide="coupon.is_add_tag_edit"> 添加标签 </a>

        <div class="new-tag-control" ng-show="coupon.is_add_tag_edit"
             wt-show-edit="coupon.is_add_tag_edit">
            <div>

                <input class="new-tag-text form-control" ng-model="tag.temp_name"
                       ui-keyup="{'esc':'js_keyup_add_tag($event, coupon, tag)' }"
                       wt-enter="js_add_tag(coupon, tag)" placeholder="输入标签" type="text">
            </div>
            <button class="btn btn-success" data-loading-text="添加"
                    loading-status="tag.is_saving"
                    wt-tracker="Task Panel|Main|Add Attachments-Add"
                    ng-click="js_add_tag(coupon, tag)">添加
            </button>
            <button class="btn btn-link tag-del"
                    wt-tracker="Task Panel|Main|Add Attachments-Cancel"
                    ng-click="js_cancel_add_tag_editor(coupon)">取消
            </button>
        </div>
    </div>

    <!--    <wt-add-tag tag="coupon"></wt-add-tag>-->
    <!--<div class="task-desc wt-row" ng-if="customer.isPaid<5">
        <label class="col-xs-4 control-label p_0">剩余发件额度：</label>
        {{coupon.mailSendLimit}}
    </div>-->
    <div class="task-desc wt-row"
         ng-show="coupon.is_edit || coupon.title.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>中文标题</label>
        {{coupon.title}}
    </div>

    <div class="task-desc wt-row"
         ng-show="coupon.is_edit || coupon.enName.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>英文标题</label>
        {{coupon.enName}}
    </div>

    <div class="task-desc wt-row"
         ng-show="coupon.is_edit || coupon.price>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>金额</label>
        <b>{{coupon.price}} 元</b>
    </div>

    <div class="task-desc wt-row">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>优惠券详情</label>
        {{coupon.goods.title}} 单价:{{coupon.goods.price}} 购买数量:{{coupon.goods.count}}
    </div>

    <div class="task-desc wt-row" ng-if="coupon.order">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>使用记录</label>
        订单号： {{coupon.order.order_id}} 时间:{{coupon.order.create_date | timeFormatZHCN}}
    </div>


    <div class="task-desc wt-row"
         ng-show="coupon.is_edit || coupon.imageUrl.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>图像URL</label> {{coupon.imageUrl}}
    </div>

    <div class="task-desc wt-row"
         ng-show="coupon.is_edit || coupon.url.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>优惠券URL</label> {{coupon.url}}
    </div>


    <div class="task-desc wt-row"
         ng-show="coupon.is_edit || coupon.desc.length>0 || permission==4">
        <label class="col-xs-2 control-label p_0"><i
                class="icon-bookmark-o mr_5 ai-gray"></i>描述</label>
        <div class="task-desc-text markdown" wt-markdown="coupon.desc"></div>
    </div>
</div>
<div class="edit-section"
     ng-show="coupon.is_edit && (!coupon.show_part || coupon.show_part==1)">
    <div class="form-group">
        <div class="input-group">
			<span class="input-group-addon fs_15">中文标题</span> <input autofocus=""
                                                              ng-model="coupon.temp_title"
                                                              wt-enter="js_set_update($event, coupon)"
                                                              class="form-control" placeholder="中文标题" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
			<span class="input-group-addon fs_15">英文标题</span> <input autofocus=""
                                                              ng-model="coupon.temp_enName"
                                                              wt-enter="js_set_update($event, coupon)"
                                                              class="form-control" placeholder="英文标题" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
			<span class="input-group-addon fs_15">优惠金额</span> <input autofocus=""
                                                              ng-model="coupon.temp_price"
                                                              wt-enter="js_set_update($event, coupon)"
                                                              class="form-control" placeholder="优惠金额" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
			<span class="input-group-addon fs_15">图片URL</span> <input autofocus=""
                                                               ng-model="coupon.temp_imageUrl"
                                                               class="form-control" placeholder="图片URL" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
			<span class="input-group-addon fs_15">活动URL</span> <input autofocus=""
                                                               ng-model="coupon.temp_url"
                                                               class="form-control" placeholder="活动URL" type="text">
        </div>
    </div>
    <div>
        <textarea ng-model="coupon.temp_desc" type="text" class="w_100p" style="min-height: 100px"
                  wt-ctrl-enter="js_set_update($event, coupon)" wt-full-editor=""
                  placeholder="添加活动描述(按Ctrl + 回车键提交)"></textarea>
    </div>
    <div class="form-group">
        <button ng-click="js_set_update($event, coupon)"
                data-loading-text="保存中..." loading-status="coupon.is_saving"
                class="btn btn-success mr_15"
                wt-tracker="Task Panel|Main|Edit Task-Save">保存
        </button>
        <button ng-click="js_cancel_editor(coupon)" class="btn"
                wt-tracker="Task Panel|Main|Edit Task-Cancel">取消
        </button>
    </div>
</div>
