<div class="layout_content">

    <div class="layout_content_main no_sidebar height-noheader" >
        <div class="mod_navbar">
            <div class="title">
                <h3><i class="icon-compass mr_10"></i>发现</h3>
            </div>
            <div class="main">
                <div class="pull-right">
                    <span class="text-muted"><i class="icon-info-sign mr_5"></i>我参与项目中的全部话题</span>
                </div>
            </div>
        </div>
        <div class="height-nonav" wt-scroll>
            <div class="layout_split_panel">
                <div class="layout_split_left">
                    <dl class="frame" data-minheight="160">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/browse"><i class="icon-check"></i><br/>活动</a></li>
                            <li><a href="/browse/files"><i class="icon-file"></i><br/>文件</a></li>
                            <li class="active"><a href="/browse/posts"><i class="icon-list-alt"></i><br/>话题</a></li>
                            <li><a href="/browse/pages"><i class="icon-file-text-alt"></i><br/>文档</a></li>
                        </ul>
                    </dl>
                </div>
                <div class="layout_split_right">
                    <dl class="frame" data-minheight="160">
                        <dt>
                            <span class="title">话题</span>
                        <ul class="tabs">
                            <li>
                                <a ng-class="{true: 'active'}[current_tab == 0]" href="javascript:;" ng-click="js_change_tab(0)">
                                    全部
                                </a>
                            </li>
                            <li>
                                <a ng-class="{true: 'active'}[current_tab == 1]" href="javascript:;" ng-click="js_change_tab(1)">
                                    我发起的
                                </a>
                            </li>
                            <li>
                                <a ng-class="{true: 'active'}[current_tab == 2]" href="javascript:;" ng-click="js_change_tab(2)">
                                    我关注的
                                </a>
                            </li>
                        </ul>
                        </dt>
                        <dd>
                            <div class="empty-panel" ng-show="posts != null && posts.length == 0 && part_loading_done">
                                <i class="icon-list-alt"></i><br/>
                                <span>还没有任何话题</span>
                            </div>
                            <div class="post-panel">
                                <div class="post-list" ng-show="posts.length > 0">
                                    <div class="wt-row post-item js-popbox" data-placement="bottom" data-align="left"
                                         ng-class="{'border-notop':$index == 0,'active':post.post_id == locator.show_detail_post_id}" ng-repeat="post in posts"
                                         post-id="{{post.post_id}}">

                                        <div class="column column-owner">
                                            <wt-avatar member="post.owner" size="30" name="true"
                                                       class="post-avatar"></wt-avatar>
                                        </div>

                                        <div class="column column-main slide-trigger"
                                             ng-click="locator.to_post(post.pid, post.post_id, true)">
                                            <h4><a class="name" href="javascript:;">{{
                                                post.name }}</a></h4>
                                            </span>
                                        </div>
                                        <div class="column column-badges">
                                            <span class="comment_count_style icon-stack"
                                                  title="话题有{{ post.comment_count }}个评论">
                                              <i class="icon-comment"></i>
                                              <i class="icon-stack-base">{{post.comment_count}}</i>
                                            </span>
                                        </div>
                                        <div class="column column-date">
                                            <span class="date">{{post.create_date | fromNow}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="loading-more-panel">
                                    <div class="part-loading" data-ng-hide="part_loading_done">
                                    </div>
                                    <button class="btn" ng-show="has_more && part_loading_done"
                                            data-loading-text="加载中..."
                                            loading-status="!part_loading_done"
                                            ng-click="load_posts_more($event);">
                                        加载更多...
                                    </button>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</div>