<div class="prj_sidebar_step_body">
    <dl class="prj_sidebar_dl">
        <dt>发送邮件到以下地址</dt>
        <dd>
            <input type="text" ng-model="create_by_mail" class="form-control help-block"
                   wt-click-select readonly="readonly"/>
        </dd>
    </dl>
    <div class="hr"></div>
    <dl class="prj_sidebar_dl">
        <dt>查看详细的帮助</dt>
        <dd>
            <ul class="prj_sidebar_step_menu">
                <li>
                    <a href="/guide/task/create#bymail" target="_blank">
                        <i class="icon-check"></i> 创建任务 </a>
                </li>
                <li>
                    <a href="/guide/post/create#by-email" target="_blank">
                        <i class="icon-list-alt"></i> 创建话题 </a>
                </li>
                <li>
                    <a href="/guide/page/create#by-mail" target="_blank">
                        <i class="icon-file-text-alt"></i> 创建文档 </a>
                </li>
            </ul>
        </dd>
    </dl>
</div>

