<div class="single-panel">
    <div class="single-panel-inner">
        <div class="single-panel-header">
            <h3>隐私权利保护声明</h3>
        </div>
        <div class="single-panel-body p_20">
            <p>快车道十分注重保护用户个人信息及个人隐私。本隐私权保护声明解释了用户个人信息收集和使用的有关情况，本隐私权保护声明适用于快车道的所有相关服务。以下声明旨在披露与快车道网页及有关产品的隐私政策,并试图回答以下问题：</p>
            <ol>
                <li>1、快车道会收集哪些个人信息并怎样使用这些信息，谁有权利接触这些个人信息</li>
                <li>2、快车道的用户在披露个人信息时有哪些选择</li>
                <li>3、快车道的用户怎样访问、更新或删除已经记录的信息</li>
                <li>4、什么是cookies，它们会被怎样保管和使用</li>
                <li>5、如果快车道的用户对网站的隐私政策有问题，应该怎样和我们联系</li>
            </ol>

            <h4>信息的收集</h4>

            <p>当用户使用快车道的网站和其他产品的时候，我们收集的信息可以分为两类：
                (1) 与您身份无关的信息
                基于优化用户体验的目的，我们收集和汇总诸如哪些网页受到了访问，访问的顺序，链接途径等信息。收集这些信息涉及到记录访问快车道的每个用户的IP地址、操作平台、浏览器软件等。尽管这些信息无关个人身份，但我们能够通过其IP地址确定其使用的ISP和其上网的地理位置。这些无关个人身份的信息会帮助我们分析受访网页的受欢迎程度、浏览器软件信息等以便优化我们的网站服务。
                快车道某些产品和/或服务可能包含唯一应用程序编号。当您安装、激活、更新、卸载相关服务或当这些服务定期与快车道通信（例如软件的更新）时，系统会将此编号以及与安装相关的信息（例如操作系统类型和应用程序版本号）发送给快车道。
                当您使用具有定位功能的快车道服务时，系统会自动处理有关设备的位置信息，以使得您不需要手动输入自身地理坐标就可获得相关服务。
                为了对不同型号的设备提供更好的服务与体验改善，快车道也会记录硬件型号、操作系统版本号、手机的国际移动设备身份码（IMEI）、手机的网络设备的硬件地址（MAC）等信息。
                (2) 与您身份有关的信息
                注册信息
                当您注册快车道的会员时，我们要求您选择一个用户名和密码，如有必要,还将提供密码提示问题及其答案以便在您丢失密码后我们可以确认您的身份。您只能通过您的密码来使用您的帐号。如果您泄漏了密码，您可能丢失了您的个人识别信息，并且可能出现对您不利的后果。因此，无论任何原因危及您的密码安全，您应该立即我们取得联系。
                身份识别信息
                当您注册为快车道会员时，我们要求您填写一张注册表。注册表要求提供您的真实姓名，地址，国籍，电话号码和电子邮件地址。另外，您还有可能被要求提供您的公司的地址，电话号码和贵公司的服务和产品的简短说明。您还有权选择来填写附加信息。这些信息可能包括,但不限于,您公司所在的省份和城市，时区和邮政编码，传真号码，主页和您的职务。我们通过注册信息来获得会员的统计资料。我们将会用这些统计数据来给我们的会员分类，例如年龄、产业和国家等，以便有针对性地向我们的会员提供新的服务和机会。我们会通过您的邮件地址来通知您这些新的服务和机会。
                支付信息
                我们的一些服务需要付费，我们会合理获取您的支付信息，包含但不限于：银行卡，信用卡，支付宝，以及其他支付方式。这是为了能够在获取信息的前提下，为您提供尽可能安全的支付服务。
                您的交易行为
                我们跟踪用户的IP地址是出于身份和交易真实性的识别、安全考虑和其它符合国家规定的要求。如果我们没有发现任何安全问题，我们会在九十天后删除我们收集到的IP地址。我们还跟踪全天的页面访问数据。全天页面访问数据被用来反映网站的流量，以使我们可以为未来的发展制定计划（例如，增加服务器）。因您交易行为而产生的其它数据，我们将会用这些统计数据来给会员分类，以便有针对性地向我们的会员提供新的服务和机会。我们会通过您的邮件地址来通知您这些新的服务和机会。
                快车道收集这类关于个人身份的信息主要是为了用户能够更容易和更满意地使用快车道的网页和其他产品。快车道的目标是向所有的留学进出口从业人员提供便利高效的活动开发服务。而这些个人信息有助於我们实现这一目标。
                用户产生的信息
                所有用户应该知道，当他们在快车道平台上、用户之间、或其他公开场合披露其个人身份信息，该等信息可能会被他人收集并用来向他们发送未经邀约的电子邮件。当您发现快车道的用户不正当地收集或使用您或他人的信息时，您应该立即我们取得联系。</p>
            <h4>信息的披露</h4>

            <p>快车道将在出现下述情形时披露您有关个人身份的信息：
                1、您授权或同意快车道进行披露的；
                2、在紧急情况下，为了保护快车道及其用户的合法权益或公共安全及利益；
                3、根据法律规定或有权部门的要求提供您的个人信息；
                4、根据快车道各服务条款及声明中的相关规定，或者快车道认为必要的其他情形下。
                合作公司信息收集
                用户提供给快车道的信息，快车道会进行收集、整理和妥善处置。然而，快车道还与合作伙伴公司共同推出部分服务，为了使快车道能够向其用户提供共同推出的服务，快车道可能必须与合作公司共享用户信息。快车道将督促合作公司参照本政策的规定保护用户信息。通过与其他声誉良好、值得信赖的组织或结盟，快车道将一直致力於向其用户提供最好的互联网进出口活动开发服务体验。
                我们会对您及（或）您的公司的身份和交易数据进行综合统计，并以快车道判断合理的目的和用途将该综合统计向广告主披露。但是，在这些情况下，我们不会向这些机构披露任何可能用以识别用户的个人身份的资料，但从用户的用户名或其它可披露资料分析得出的资料不受此限。
                信息的保管、访问、修改和删除</p>
            <h4>信息的保管</h4>

            <p>
                所收集的用户信息和资料将保存在快车道及（或）其关联公司的服务器上。快车道严格保护您的个人信息安全。我们使用各种制度、安全技术和程序等措施来保护您的个人信息不被未经授权的访问、使用或泄漏。这些安全措施包括向其它服务器备份数据和对用户密码加密。尽管我们有这些安全措施，但请注意在因特网上不存在“完善的安全措施”。如果您对我们的个人信息保护有任何疑问，请联系我们。
                信息的访问、修改和删除
                如果您注册并使用了快车道相关服务，您可以查阅或编辑您提交给快车道的个人信息。一般情况下，您可以在个人信息管理界面随时浏览、修改自己提交的信息，但出于安全性和身份识别（如密码重置服务）的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。
                如果您在使用中遇到了任何隐私问题需要删除您在快车道建立的个人信息，可以随时联系我们，进行删除。快车道承诺在用户提出要求后，将会完全删除和用户个人相关的所有信息。</p>
            <h4>Cookies的使用和保护</h4>

            <p>快车道使用 Cookie 来帮助您实现您的联机体验的个性化。Cookie 是由网页服务器存放在您的访问设备上的文本文件。指定给您的 Cookie 是唯一的，它只能被将 Cookie 分享给您的域中的 Web
                服务器读取。
                Cookie 的主要用途之一是提供一种节约时间的实用功能。例如，如果您将快车道的网页个性化，或在快车道多个服务上注册，Cookie
                会帮助您在后续访问时调用您的信息。这样可以简化记录您填写个人信息（例如一键登录等）的流程。当您返回到快车道时，快车道可以调出您以前所提供的信息，使您能够容易地使用您自定义的功能。Cookie可以帮助您优化对广告的选择与互动。
                您有权接受或拒绝 Cookie。大多数浏览器会自动接受 Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝 Cookie。如果选择拒绝
                Cookie，那么您可能无法完全体验所访问的快车道服务或网站的互动功能。</p>
            <h4>未成年人信息及使用</h4>

            <p>快车道建议：任何未成年人参加网上活动应事先取得家长或其法定监护人（以下简称"监护人"）的书面同意。快车道将根据国家相关法律法规的规定保护未成年人的相关信息。</p>
            <h4>联系我们</h4>

            <p>我们可能会不时修改我们的隐私政策。这些修改会反映在本政策中。任何修改都会将您的满意度置于首位。我们鼓励您在每次访问快车道的网页和先关产品时都查阅我们的隐私政策。
                有关本声明或快车道的隐私措施的问题请与快车道的网站协调人联系。快车道的用户也可以通过电话、传真、和/或平信直接与快车道活动服务部门联系。详细联系方式请见网站的联系信息页面。
                快车道是最先进的留学业务开发平台。我们一向坚持,快车道有责任和义务为用户提供一个安全、可靠、易用和有私密性的网站,我们会采取一切必要行动来捍卫和加强我们作为一个科技与人文驱动的留学业务开发平台的良好地位。</p>
        </div>
    </div>
</div>