<div class="popbox-header">
    <button class="cancel icon-remove" ng-click="js_close()"></button>
    <h3>隐藏用户(APP列表中不显示)
   <!--     <span ng-if="task.uid !=global.me.uid">取消收藏</span>-->
    </h3>
</div>
<div class="popbox-body">
    <span>确定要隐藏该用户吗?</span>
</div>
<div class="popbox-footer">
    <button ng-click="js_hide_user()" class="btn btn-danger float_left">
        <span>确定隐藏</span>
    </button>
    <button  ng-click="js_close()" class="btn pull-right">
        <span >取消</span>
    </button>
</div>