<div ng-controller="entity_programs_ctrl">
	<div class="entity-title "
		ng-include="'/view/entity/user/user_title.html'"></div>
	<wt-tadges task="task"></wt-tadges>
	<div class="wt-row ">
		<h4 class="pull-right">
			<span href="javascript:;" data-ng-click="js_to_program()">参与活动</span> <span
				ng-if="programs.length>0">({{programs.length}})</span>
		</h4>
	</div>
	    <div class="empty-panel"
            ng-show="programs.length==0">
        <i class="icon-flag"></i>
        <br>
        <span>
            还没有任何活动
        </span>
    </div>
 
	<div class="entity-list">
		<div class="part-loading mt_20"
			wt-loading-done="loading_done"></div>

		<ul class="entitys">
			<li class="entity-item" id="entity_item_{{program.eid}}"
				ng-repeat="program in programs">

				<div class="entity">
					<a href="javascript:;" class="entity-name"> {{program.title}}
					</a> <span class="entity-meta"> <span
						data-ng-class="{true:'date',false:''}[entity.type==1&&global.is_login == true]">{{entity.create_date
							| fromNow }}</span>
					</span>

					<div class="current-entity" wt-markdown='program.desc | abbrevition:200'></div>
				</div>
			</li>
		</ul>
	</div>
</div>
