<div class="layout_content">
    <div class="layout_content_main no_sidebar height-noheader">
        <div class="mod_navbar">
            <div class="title">
                <h3>
                    <i class="icon-organizer mr_10"></i> 品牌管理
                </h3>
            </div>

            <div class="main">
                <div class="toolbar_panel pull-right">

                    <input class="form-control" ng-model="searchInput.keyword" ng-hide="is_create"
                           style="display: inline-block; width: 250px"
                           placeholder="按名称查询" wt-enter="searchInput.search(searchInput.keyword)"/>

                    <button class="btn btn-danger mr_15" ng-click="show_add_form()" ng-hide="is_create"
                            type="button"
                            wt-permission="[permission,project.info.curr_role,1,2]">新建品牌
                    </button>

                    <button class="btn btn-success mr_15" data-loading-text="保存中..." ng-show="is_create"
                            loading-status="is_saving" ng-click="save()">保存</button>
                    <button class="btn btn-cancel" ng-click="cancelForm()" ng-show="is_create">取消</button>


                    <div class="btn-group js-popbox mr_15" ng-hide="is_create">
                        <!--按创建时间-->
                        <button class="btn ptb_11" ng-click="sort()" data-toggle="tooltip"
                                data-placement="bottom"
                                title="{{currentSortItem.name}}{{ {true:' 降序 ',false:' 升序 '}[isDESC==true] }}排列">
							<span><i
                                    ng-class="{true:'icon-sort-alpha-desc',false:'icon-sort-alpha-asc'}[isDESC==true]"></i></span>
                        </button>
                    </div>

                </div>

            </div>

        </div>

        <div class="height-nonav" wt-scroll>

            <div ng-if="is_create">
                <ng-include
                        src="'/view/dashboard/organizer/add_or_edit_organizer.html'"></ng-include>
            </div>

            <div class="layout_split_panel" ng-hide="is_create">

                <dl class="frame" data-minheight="160">

                    <!-- 按机构类别分类 -->
                    <dt>
                    <ul class="tabs">
                        <li><a
                                ng-class="{true: 'active'}[current_type.code == defaultType.code]"
                                href="javascript:;" ng-click="selectByType(defaultType)"> 全部
                        </a></li>
                        <li ng-repeat="type in types"><a
                                ng-class="{true: 'active'}[current_type.code == type.code]"
                                href="javascript:;" ng-click="selectByType(type)">
                            {{type.cnName}} </a></li>
                    </ul>
                    </dt>


                    <!-- 正文，列表部分 -->
                    <dd class="p_0">

                        <div class="empty-panel" ng-show="items.length == 0">
                            <i class="icon-list-alt"></i> <br />
                            <!--<span>还没有任何机构</span>-->
                            <h4>
                                还没有任何机构 <a style="color: #d84c31;" href="javascript:;"
                                           ng-click="show_add_form()">立即创建机构！</a>
                            </h4>
                        </div>

                        <div class="template-panel">
                            <div class="thread-list  pl_25 pr_25">
                                <div class="wt-row thread-item slide-trigger cursor"
                                     ng-class="{'active':organizer.eid == locator.show_detail_organizer_id}"
                                     ng-click="locator.to_organizer('project_default',organizer.eid,false)"
                                     ng-repeat="organizer in items">

                                    <div class="col-sm-12 thread-item-inner">
                                        <div class="row">
                                            <div class="col-sm-12 ">
                                                <div class="row primary">
                                                    <div class="col-sm-12 thread-title pos_relative">
                                                        <h4 class="col-sm-5">
                                                            <a href="javascript:;"> <span title="机构名称">{{organizer.title|abbrevition:32}}</span>
                                                            </a>
                                                        </h4>
                                                        <div class="col-sm-4 pull-left text-muted"
                                                             style="margin-top: 10px">
                                                            <span title="机构类型" ng-if="!!organizer.type">{{organizer.code}}</span>
                                                        </div>
                                                        <div class="col-sm-3 text-right  pull-right">
														<span title="状态" class="{{$root.global.bondayUtil.toStatusClass(organizer.status)}}">
															{{$root.global.bondayUtil.toStatusString(organizer.status)}}
														</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row sm-font-color secondary">
                                                    <div class="col-sm-5" wt-stop-propagation="click">
                                                        <span class="ml_15">{{organizer.eid}}</span>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <span class="ml_15">{{organizer.enName|abbrevition:30}}</span>
                                                    </div>

                                                    <div class="col-sm-4 text-right more_light_gray pull-right">
                                                        <span title="联系人">{{organizer.contact}} </span> <span
                                                            title="联系方式">{{organizer.email}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix pager-wapper" ng-hide="numPages==1">
                                <div class="category-pager pull-right">
                                    <pagination ng-model="currentPage" total-items="totalItems"
                                                items-per-page="itemsPerPage" max-size="5" rotate="false"
                                                direction-links="true" previous-text="上一页" next-text="下一页"
                                                boundary-links="true" first-text="首页" last-text="尾页"
                                                num-pages="numPages"> </pagination>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--左边栏-->
    <!--<div class="layout_right_sidebar height-noheader">-->
    <!--<ng-include src="'/view/project/sidebar/sidebar.html'"></ng-include>-->
    <!--</div>-->
</div>