<div class="cascading-wapper">
	<div class="cascading" style="max-height: 300px; padding-right: 0px"
		wt-scroll="">
			<ul>
				<li ng-repeat="project in projects"
					><a href="javascript:;"
					class="js-toggle-label-filter" ng-click="js_toggle_project(project)"> <span
						class="task-label blue-label text-center"> <i
							ng-class="{0: 'icon-xx', 1: 'icon-ok'}[project.assigned]"
							class="icon-white" style="line-height: 24px;"></i>
					</span> <span class="label-name">{{project.title}}</span>
				</a></li>
			</ul>
	</div>
</div>



