<ul class="popbox-step" ng-switch on="step">
	<li ng-switch-default class="popbox-step-li">
		<div class="popbox-header">
			<button class="cancel icon-remove" ng-click="js_close()"></button>
			<h3>更多选项</h3>
		</div>
		<div class="popbox-body fixed-width-260">
			<ul class="popbox-menu">
				<li><a href="javascript:;" ng-click="js_step(4)"> <i
						class="icon-tags"></i> 定义组内标记
				</a></li>
				<li class="divider"></li>
				<li><a href="javascript:;" ng-click="js_archived_all()"><i
						class="icon-archive"></i> 归档所有完成活动</a></li>
				<li><a href="javascript:;" ng-click="js_step(1)"> <i
						class="icon-xx"></i> 自动归档完成的活动 <span class="text-muted small-tip">
							{{{1: \'开启\', 0: \'关闭\'}[project.info.auto_archived]}} </span>
				</a></li>
				<li><a href="/project/{{pid}}/archive"><i class="icon-xx"></i>
						查看归档活动</a></li>
				<li class="divider"></li>
				<li><a href="javascript:;" ng-click="js_step(3)"> <i
						class="icon-share"></i> 数据导出
				</a></li>
				<li class="divider"></li>
				<li><a href="javascript:;" ng-click="js_step(2)"><i
						class="icon-envelope"></i> 通过邮件创建活动</a></li>
				<li><img src="/barcode/{{pid}}.jpg" height="100" width="100"></img></li>
			</ul>
		</div>
	</li>
	<li ng-switch-when="1" class="popbox-step-li">
		<div class="popbox-header">
			<button class="back icon-chevron-left" ng-click="js_step(0)"></button>
			<button class="cancel icon-remove" ng-click="js_close()"></button>
			<h3>自动归档完成的活动</h3>
		</div>
		<div class="popbox-body fixed-width-260">
			<ul class="popbox-menu">
				<li><a ng-click="js_prefs_auto_archived()"> <i
						class="color_gray"
						ng-class="{1:\'icon-ok\',0:\'icon-xx\'}[project.info.auto_archived]"></i>
						<strong>开启</strong> <br /> <span class="text-muted pl_20">活动完成后，自动进行归档</span>
				</a></li>
				<li class="divider"></li>
				<li><a ng-click="js_prefs_auto_archived()"> <i
						class="color_gray"
						ng-class="{0:\'icon-ok\',1:\'icon-xx\'}[project.info.auto_archived]"></i>
						<strong>关闭</strong> <br /> <span class="text-muted pl_20">活动完成后，不自动归档</span>
				</a></li>
			</ul>
		</div>
	</li>
	<li ng-switch-when="2" class="popbox-step-li">
		<div class="popbox-header">
			<button class="back icon-chevron-left" ng-click="js_step(0)"></button>
			<button class="cancel icon-remove" ng-click="js_close()"></button>
			<h3>通过邮件创建活动</h3>
		</div>
		<div class="popbox-body fixed-width-260">
			<ul class="popbox-menu">
				<li><a href="javascript:;"> 发送邮件到以下地址 <input type="text"
						ng-model="email" class="form-control help-block" wt-click-select
						readonly="readonly" />
				</a></li>
				<li><a href="javascript:;"> <strong>邮件标题</strong> <br /> <span
						class="text-muted pl_20">活动：这里写活动列表名称</span>
				</a></li>
				<li><a href="javascript:;"> <strong>邮件正文</strong> <br /> <span
						class="text-muted pl_20">用*号分割每一项活动</span>
				</a></li>
				<li><a href="/guide/task/create#bymail" target="_blank"> <i
						class="icon-question-sign"></i> 查看更多帮助
				</a></li>
			</ul>
		</div>
	</li>
	<li ng-switch-when="3" class="popbox-step-li">
		<div class="popbox-header">
			<button class="back icon-chevron-left" ng-click="js_step(0)"></button>
			<button class="cancel icon-remove" ng-click="js_close()"></button>
			<h3>数据导出</h3>
		</div>
		<div class="popbox-body fixed-width-260">
			<ul class="popbox-menu">
				<li><a
					href="/api/projects/{{project.info.pid}}/tasks/exports?format=json"
					target="_blank"> <i class="icon-code"></i> JSON数据
				</a></li>
			</ul>
		</div>
	</li>
	<li ng-switch-when="4" class="popbox-step-li">
		<div class="popbox-header">
			<button class="back icon-chevron-left" ng-click="js_step(0)"></button>
			<button class="cancel icon-remove" ng-click="js_close()"></button>
			<h3>定义组内标记</h3>
		</div> <ng-include src="\'/views/tpl/project/task/pop_mod_set_labels.html\'"></ng-include>
	</li>
</ul>