<div class="page_navbar">
    <div class="page-navbar-warp">
        <div class="title">
            <h3>
                <a href="/forum">
                    <i class="icon-group mr_10"></i>用户社区
                </a>
            </h3>
        </div>
        <div class="main">
            <div class="toolbar_panel pull-right">
                <button class="btn btn-danger">发表新帖</button>
            </div>
        </div>
    </div>
</div>
<div class="content-panel forum-panel height-nonav" wt-scroll>
    <div class="content-container">
        <div class="content">
            <div class="content-wrapper">

            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar-widget">
                <h4>社区寄语</h4>
                <div class="widget-text">
                    欢迎来到棒呆用户社区，这里是广大Worktile用户的互动交流社区，在这里你可以与其他用户分享Worktile使用技巧、经验，与我们产品开发团队交流沟通，我们愿与广大用户一起打造一款简单好用的团队协同工具。
                </div>
            </div>
        </div>
    </div>
</div>