<div>
<!--    <span class="customer-icon    pull-left" title="{{ {true:'有联系人',false:'无联系人'}[customer.name.length>0] }}">
<i class="icon-circle   -base default-icon-color" ng-class="{true:'download-color',false:'color_gray'}[customer.name.length>0]">
</i>
    <i class="icon-user  icon-light"> </i>
</span>
<span class="customer-icon   pull-left" title="{{ {true:'有联系方式',false:'无联系方式'}[customer.phone.length>0||customer.mobile.length>0] }}">
    <i class="icon-circle   -base default-icon-color"
       ng-class="{true:'mail-color',false:'color_gray'}[customer.phone.length>0||customer.mobile.length>0]">
    </i>
    <i class="icon-phone  icon-light"> </i>
</span>
<span class="customer-icon   pull-left" title="{{ {true:'有邮箱',false:'无邮箱'}[customer.email.length>0] }}">
    <i class="icon-circle   -base default-icon-color"
       ng-class="{true:'mail-color',false:'color_gray'}[customer.email.length>0]">
    </i>
    <i class="icon-envelope-alt  icon-light"> </i>
</span>-->
<!--<span class="customer-icon    pull-left" title="{{ {true:'有网址',false:'无网址'}[customer.website.length>0] }}">
    <i  class="icon-circle  -base default-icon-color"
        ng-class="{true:'website-color',false:'color_gray'}[customer.website.length>0]">
    </i>
    <i class="icon-globe icon-light"> </i>
	</span>
<span class="customer-icon   pull-left" title="{{ {true:'有linkedin',false:'无linkedin'}[customer.linkedin.length>0] }}">
    <i class="icon-circle   -base default-icon-color"
       ng-class="{true:'linkedin-color',false:'color_gray'}[customer.linkedin.length>0]">
    </i>
    <i class="icon-linkedin icon-light"> </i>
</span>-->

        <span class="customer-icon    pull-left" title="{{ {true:'有联系人',false:'无联系人'}[customer.name.length>0] }}">
    <i class="icon-user mr_10 icon-light" ng-class="{true:'download-color',false:'color_gray'}[customer.name.length>0]"> </i>
</span>
<span class="customer-icon   pull-left" title="{{ {true:'有联系方式',false:'无联系方式'}[customer.phone.length>0||customer.mobile.length>0] }}">
    <i class="icon-phone  mr_10 icon-light"  ng-class="{true:'mail-color',false:'color_gray'}[customer.phone.length>0||customer.mobile.length>0]"> </i>
</span>
<span class="customer-icon   pull-left" title="{{ {true:'有邮箱',false:'无邮箱'}[customer.email.length>0] }}">
    <i class="icon-envelope mr_10  icon-light"   ng-class="{true:'mail-color',false:'color_gray'}[customer.email.length>0]"> </i>
</span>
</div>