<div class="confirm-password">
    <span class="caption">输入帐号密码</span>
    <form class="wt-form" wt-form-validate="{blurTrig:false,showMsg:false}" name="confirm_password_form" role="form"
          novalidate>
        <wt-avatar member="global.me" name="true" namebr="true" atname="true" size="80"></wt-avatar>
        <br/>
        <span class="text">
            确认是您本人操作，请输入当前帐户密码并继续
        </span>

        <div class="form-group">
            <input name="confirm_password" ng-model="confirm_password" class="form-control" type="password"
                   autofocus="autofocus"
                   required=""
                   placeholder="输入当前帐户密码"/>
        </div>
        <div class="form-group" ng-show="confirm_password_form.$errors.length > 0">
            <div class="alert alert-danger">
                <i class="icon-remove-sign"></i> {{confirm_password_form.$errors[0]}}
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-success btn-block" wt-form-submit="js_confirm_password(confirm_password_form)"
               data-loading-text="确认中..." loading-status="confirming">确认并继续</a>
        </div>
        <div class="form-group clearfix">
            <a data-ng-click="js_forgot_password()" href="javascript:;" class="pull-left">忘记密码?</a>
            <a data-ng-click="js_cancel_option()" href="javascript:;" class="pull-right">取消</a>
        </div>
    </form>
</div>
