<div>
	<input autofocus="" ng-model="mail.name"
		class="form-control help-block" placeholder="邮件标题" required=""
		type="text">
</div>
<div class="new-mail-edit">
	<textarea wt-ctrl-enter="$js_save_mail($event,$mail)"
		wt-mail-atwho="atwho_members" placeholder="快速写邮件(按Ctrl + 回车键提交)"
		wt-pastefile="pastefile_option_mail" ng-model="mail.message" wt-editor></textarea>
	<!--上传队列列表-->
	<div class="mail-upload-queue">
		<ul class="mail-attachments">
			<wt-attachment ng-repeat="file in mail.files"
				del="js_del_attachment_mail($event, file)"></wt-attachment>
		</ul>
		<div class="mail-upload-item"
			ng-repeat="file in global_fileupload_queue_mail()">
			<div class="file-name" title="{{file.name}}">{{file.name}}</div>
			<span class="error" ng-if="file.error"> <span
				class="label label-danger">{{ file.error |
					fileuploadErrorInfo }}</span> <br />
			</span>
			<div ng-hide="file.error" class="progress progress-striped active"
				ng-class="{pending: 'in'}[file.$state()]"
				file-upload-progress="file.$progress()">
				<div class="progress-bar progress-bar-success"
					ng-style="{width: num + '%'}"></div>
			</div>
			<span href="javascript:;" class="cancel" ng-click="file.$cancel()"
				ng-hide="!file.$cancel"> 取消 </span>
		</div>
	</div>
	<div class="add-controls">
<!-- 		<ul class="nav nav-pills">
			<li class="btn-group js-popbox dropup mr_5" data-placement="left"
				data-align="bottom"><a href="javascript:;"
				class="dropdown-toggle" data-toggle="dropdown"
				wt-tracker="Mail Panel|Bottom|Add Mail-FileUpload" title="添加附件">
					<i class="icon-paper-clip"></i>
			</a>
				<ul class="dropdown-menu">
					<li><a href="javascript:;" class="fileinput-button"><i
							class="icon-desktop"></i>本地上传 <input type="file" name="files[]"
							title="添加附件" multiple wt-uploadfile="file_upload_option_mail" /></a></li>
					<li><a href="javascript:;"
						ng-click="js_show_attach($event, task)"
						wt-tracker="Mail Panel|Bottom|Add Mail-FileUpload-SelecetExistFile">
							<i class="icon-file"></i>从活动文件选择
					</a></li>
				</ul></li>
			<li class="divider-v"></li>
			<li class="js-popbox mr_10"><a
				ng-click="$js_pop_emojis($event, mail)"
				wt-tracker="Mail Panel|Bottom|Add Mail-Emojis"
				data-placement="right" data-align="top" href="javascript:;"> <i
					class="icon-smile"></i>
			</a></li>
			<li><a ng-click="$js_metion_member($event, mail)"
				wt-tracker="Mail Panel|Top|Add Mail-AtPeople"
				class="js-popbox mr_10 font_at" data-placement="right"
				data-align="top" href="javascript:;">@</a></li>
		</ul>
 -->
		<button class="btn btn-success pull-right" data-loading-text="保存中..."
			loading-status="mail.is_saving"
			ng-disabled="global_fileupload_queue_mail().length!=0"
			wt-tracker="Mail Panel|Top|Add Mail-Save"
			ng-click="$js_save_mail($event)">{{
			{true:'文件上传中...',false:'发送邮件'}[global_fileupload_queue_mail()!=0] }}
		</button>
			<button class="btn btn-cancel pull-right"
				ng-click="js_hide_mail_editor()">取消</button>
	</div>
</div>