<div class="popbox-avatar">

    <div class="avatar-body">
        <button class="cancel icon-remove" ng-click="js_close()"></button>

        <wt-avatar member="member" size="56"></wt-avatar>
        <div class="avatar-right">
            <h4 class="avatar-heading">{{member.display_name}}</h4>
            <p>@{{member.name}}</p>
        </div>
    </div>

    <div class="avatar-footer">
        <button ng-click="js_action_member(member)" data-loading-text="{{ongoing}}" loading-status="pop_member_actioning" class="btn btn-danger">{{action_name}}</button>
    </div>
</div>