<div class="layout_content">
    <div class="layout_content_main no_sidebar height-noheader" >
        <div class="mod_navbar">
            <div class="title">
                <h3><i class="icon-compass mr_10"></i>开发统计</h3>
            </div>
        </div>
        <div class="height-nonav" wt-scroll>
            <div class="layout_split_panel">
                <div class="layout_split_left">
                    <dl class="frame" data-maxheight="160" data-scrollnoheight="160" wt-scroll>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/browse"><i class="icon-globe"></i><br/>活动</a></li>
                            <li class="active"><a href="/browse/mails"><i class="icon-envelope"></i><br/>邮件</a></li>
                            <li><a href="/browse/templates"><i class="icon-file-text-alt"></i><br/>模板</a></li>
                            <!--                        <li><a href="/browse/files"><i class="icon-file"></i><br/>文件</a></li>
                                                     <li><a href="/browse/posts"><i class="icon-list-alt"></i><br/>话题</a></li>
                                                    <li><a href="/browse/pages"><i class="icon-file-text-alt"></i><br/>文档</a></li>-->
                        </ul>
                    </dl>
                </div>
				<div class="layout_split_right">
					<dl class="frame" data-minheight="160">
						<dt>
							<ul class="tabs">
								<li><a ng-class="{true: 'active'}[current_tab == 0]"
									href="javascript:;" ng-click="js_change_tab(0)"> 全部 </a></li>
								<li><a ng-class="{true: 'active'}[current_tab == 1]"
									href="javascript:;" ng-click="js_change_tab(1)"> 我发起的 </a></li>
								<li><a ng-class="{true: 'active'}[current_tab == 2]"
									href="javascript:;" ng-click="js_change_tab(2)"> 我关注的 </a></li>
							</ul>
						</dt>
						<dd>
							<div class="empty-panel"
								ng-show="mails != null && mails.length == 0 && part_loading_done">
								<i class="icon-envelope"></i><br /> <span>还没有任何邮件</span>
							</div>
							<div class="mail-panel">
								<div class="mail-list" ng-show="mails.length > 0">
									<div class="wt-row mail-item js-popbox" data-placement="bottom"
										data-align="left"
										ng-class="{'border-notop':$index == 0,'active':mail.mail_id == locator.show_detail_mail_id}"
										ng-repeat="mail in mails" mail-id="{{mail.mail_id}}">

										<div class="column column-owner">
											<wt-avatar member="mail.owner" size="30" name="true"
												class="mail-avatar"></wt-avatar>
										</div>

										<div class="column column-main slide-trigger"
											ng-click="locator.to_email(mail.pid, mail.mail_id, true)">
											<h4>
												<a class="name" href="javascript:;">{{ mail.name }}</a>
											</h4>
											</span>
										</div>
										<div class="column column-owner">
											<span class="comment_count_style icon-stack" title="收信人">{{
												mail.to }} </span>
										</div>
										<div class="column column-date">
											<span class="date">{{mail.create_date | fromNow}}</span>
										</div>
									</div>
								</div>
								<div class="loading-more-panel">
									<div class="part-loading" data-ng-hide="part_loading_done">
									</div>
									<button class="btn" ng-show="has_more && part_loading_done"
										data-loading-text="加载中..." loading-status="!part_loading_done"
										ng-click="load_mails_more($event);">加载更多...</button>
								</div>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>

	</div>
</div>