<div class="template layout_content">
	<div class="private layout_content_main no_sidebar height-noheader">
		<div class="mod_navbar">
			<ng-include src="'/view/project/prj_title_panel.html'"></ng-include>
			<div class="main">
				<div class="toolbar_panel pull-right" ng-show="global.loading_done">
					<button class="btn btn-danger mr_15"
						ng-click="js_show_add_template()" type="button"
						wt-permission="[permission,project.info.curr_role,1,2]">新建模板
					</button>

					<div class="btn-group js-popbox mr_15">
						<button class="btn" ng-class="{'grid': 'active'}[view_type]"
							tooltip="详情视图" ng-click="js_view_toggle('grid')">
							<i class="icon-th-large"></i>
						</button>
						<button class="btn" ng-class="{'list': 'active'}[view_type]"
							tooltip="列表视图" ng-click="js_view_toggle('list')">
							<i class="icon-list"></i>
						</button>
					</div>

					<div class="btn-group" ng-controller="template_filter_ctrl">
						<button class="btn">
							<i class="icon-sort-by-alphabet-alt"></i>
						</button>
						<a class="btn dropdown-toggle mr_15" data-toggle="dropdown"
							href="javascript:;"><i class="icon-caret-down"></i></a>
						<ul class="dropdown-menu pull-right">
							<li ng-repeat="item in filter_items"><a href=""
								ng-click="js_select_filter(item)"> <i
									class="{{ {true:'color_gray icon-ok',false:'icon-xx'}[item.is_selected]}}"></i>{{
									item.name }}
							</a></li>
						</ul>
					</div>
                    <div class="btn-group js-popbox mr_15">

                        <button class="btn" ng-click="js_filter_pop($event)">
                            <i class="icon-filter"></i>
                        </button>
                        <a class="btn dropdown-toggle" href="javascript:;"
                           data-toggle="dropdown"> <i class="icon-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;"
                                   ng-click="js_filter_template('my_create')"> <i
                                    ng-class="{true:'icon-ok',false:'icon-xx'}[current_filter_type == 'my_create']"></i>
                                我创建的模板
                            </a></li>
                            <li><a href="javascript:;"
                                   ng-click="js_filter_template('my_share')"> <i
                                    ng-class="{true:'icon-ok',false:'icon-xx'}[current_filter_type == 'my_share']"></i>
                                我分享的模板
                            </a></li>
                            <li><a href="javascript:;"
                                   ng-click="js_filter_template('my_download')"> <i
                                    ng-class="{true:'icon-ok',false:'icon-xx'}[current_filter_type == 'my_download']"></i>
                                我下载的模板
                            </a></li>
                            <li><a href="javascript:;"
                                   ng-click="js_filter_template('my_all')"> <i
                                    ng-class="{true:'icon-ok',false:'icon-xx'}[current_filter_type == 'my_all']"></i>
                                全部模板
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" ng-click="js_filter_pop($event)">
                                <i class="icon-xx"></i> 筛选模板
                            </a></li>
                        </ul>
                    </div>
<!-- 					<button class="btn js-popbox" data-placement="bottom"
						data-align="right" ng-click="js_show_more_menu($event)"
						wt-permission="[permission,project.info.curr_role,1,2]">
						更多&nbsp;<i class="icon-caret-down"></i>
					</button>
 -->
					<button class="btn" ng-click="js_right_sidebar_toggle($event)">
						<i
							ng-class="{true:'icon-step-backward',false:'icon-step-forward'}[global.right_sidebar_is_fold]"></i>
					</button>

				</div>
			</div>


		</div>
		<div class="height-nonav" wt-scroll>
			<div wt-slide-show="show_add_template"
				slide-change="js_slide_change(value)">
				<ng-include src="'/view/project/template/add_or_edit_template.html'"></ng-include>
			</div>
			<div class="layout_split_panel">
				<!--<div class="layout_split_left">-->
				<!--<dl class="frame" data-maxheight="160" data-scrollnoheight="160" wt-scroll>-->
				<!--<ul class="nav nav-pills nav-stacked">-->
				<!--<li><a href="/browse"><i class="icon-globe"></i><br/>活动</a></li>-->
				<!--<li><a href="/browse/mails"><i class="icon-envelope"></i><br/>邮件</a></li>-->
				<!--<li class="active"><a href="/browse/templates"><i class="icon-file-text-alt"></i><br/>模板</a></li>-->
				<!--<li><a href="/browse/files"><i class="icon-file"></i><br/>文件</a></li>-->
				<!--<li><a href="/browse/posts"><i class="icon-list-alt"></i><br/>话题</a></li>-->
				<!--<li><a href="/browse/pages"><i class="icon-file-text-alt"></i><br/>文档</a></li>-->
				<!--</ul>-->
				<!--</dl>-->
				<!--</div>-->
				<dl class="frame" data-minheight="160">
					<dt>
						<ul class="tabs">
							<li><a ng-class="{true: 'active'}[current_tab == 0]"
								href="javascript:;" ng-click="js_change_tab(0)"> 全部 </a></li>
                            <li ng-repeat="catalog in catalogs">
                                <a ng-class="{true: 'active'}[current_tab == ($index + 1)]"
                                href="javascript:;"
                                ng-click="js_change_tab(($index+1),catalog.code)">
                                {{catalog.cnName}}</a>
                            </li>
						</ul>
					</dt>
					<dd>
						<div class="empty-panel"
							ng-show="templates != null && templates.length == 0 && part_loading_done">
							<i class="icon-list-alt"></i><br /> <span>还没有任何模板</span>
                            <br/>
                            <a class="btn btn-success" href="/template" target="_blank">去收藏模板</a>
						</div>
						<div class="template-panel">
							<!--模板-列表显示--begin-->
							<div class="template-list" ng-show="templates.length > 0">
								<div class="wt-row template-item js-popbox"
									data-placement="bottom" ng-show="view_type == 'list'"
									data-align="left"
									ng-class="{'border-notop':$index == 0,'active':template.template_id == locator.show_detail_template_id}"
									ng-repeat="template in templates"
									template-id="{{template.template_id}}">

									<div class="column column-owner">
										<wt-avatar member="template.owner" size="30" name="true"
											class="template-avatar"></wt-avatar>
									</div>

									<div class="column column-main slide-trigger"
										ng-click="locator.to_template(template.pid, template.template_id, true)">
										<h4>
											<a class="name" href="javascript:;"> {{template.name}}</a>
										</h4>
									</div>
									<div class="column column-badges">
										<span class="comment_count_style icon-stack"
											title="模板有{{ template.comment_count }}个评论"> <i
											class="icon-comment"></i> <i class="icon-stack-base">{{template.comment_count}}</i>
										</span>
									</div>
									<div class="column column-date">
										<span class="date">{{template.create_date | fromNow}}</span>
									</div>
								</div>
							</div>
							<!--模板列表显示--end-->
							<!--模板详情展示--begin-->
							<div class="template-grid" data-ng-show="templates.length > 0">
								<div ng-show="view_type == 'grid'"
									class="fa-item col-xs-12 col-md-6"
									ng-repeat="template in templates"
									template-id="{{template.template_id}}">
									<article class="item">
										<div class="head">
											<i class="color-block"></i> <a
												ng-click="locator.to_template(template.pid, template.template_id, true)"
												class="title" href="javascript:;">
												<h4>{{template.name}}</h4>
											</a>
											<!--<a class="favor">-->
											<!--<button class="btn btn-default">收藏</button>-->
											<!--</a>-->
										</div>
										<!--<aside class="summary" ng-bind-html="template.summary"></aside>-->
										<section class="center">
											<!--<header class="inline-block">-->
												<!--<div class="title">Re:Hi Mary, can you tell me the-->
													<!--email of Mr.</div>-->
											<!--</header>-->
											<p class="content markdown" wt-markdown="template.content"></p>
										</section>
									</article>
								</div>
							</div>
							<!--模板详情展示--end-->
							<div class="loading-more-panel">
								<div class="part-loading" data-ng-hide="part_loading_done">
								</div>
								<button class="btn" ng-show="has_more && part_loading_done"
									data-loading-text="加载中..." loading-status="!part_loading_done"
									ng-click="load_templates_more($event);">加载更多...</button>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>

	</div>
	<div class="layout_right_sidebar height-noheader">
		<ng-include src="'/view/project/sidebar/sidebar.html'"></ng-include>
	</div>
</div>