<div data-ng-controller="entity_order_ctrl"
	class="entity-panel task-panel" wt-dragfile="dragfile_option">
	<div class="part-loading mt_60" wt-loading-done="section_loading_done"></div>
	<div ng-show="section_loading_done && !order_exist"
		class="alert alert-warning text-center"
		style="padding: 10px; margin: 10% 15px">
		<span>订单信息不存在</span>
	</div>
	<div class="entity-panel-wrapper"
		ng-show="section_loading_done && order_exist">
		<div class="entity-panel-header">
			<a href="javascript:;" class="name" ng-show="true"
				wt-tracker="Task Panel|Main|Goto Project"> <i
				class="icon-barcode mr_10"
				ng-style="{color:green}"></i> {{order.status | payStatus}}

			</a>
			<ul class="nav nav-pills">
				<li ng-show="permission==16" class="entity-warning">订单已经于
					{{order.update_date | timeFormatZHCN}} 删除了</li>
				<li ng-show="permission==32" class="entity-info">订单已经于
					{{order.update_date | timeFormatZHCN}} 归档了</li>
				<li ng-show="permission==32" class="divider-v"></li>
				<li ng-show="permission==32"><a href="javascript:;"
					ng-click="js_show_entry_menu($event, order)" title="激活"> <i
						class="icon-undo"></i>激活
				</a></li>
				<!--编辑按钮的状态切换 可点击条件：已登录，并且不再编辑状态，并且已支付或订单邮件信息错误 -->
				<li data-placement="bottom" ng-show="$root.global.is_login"
					class="js-popbox"><a href="javascript:;"
					ng-show="!order.is_edit" ng-click="js_show_editor(order)" title="可编辑">
						<i class="icon-pencil"></i>编辑
				</a> <a href="javascript:;"
					ng-show="order.is_edit || ($root.global.me.role>0 && !order.collected && order.isPaid==0 && order.mailStatus<1)"
					class="disabled"
					title="{{ {false:'可编辑',true:'正在编辑'}[order.is_edit] }}"> <i
						class="icon-pencil"></i>编辑
				</a></li>

				<!--发布按钮的状态切换-->
				<li
					ng-show="order.xtype=='orders' && $root.global.is_outter == false && order.uid ==global.me.uid">
					<!--<a href="javascript:;" title="发布" ng-if="order.status < 1 && order.isValid==true" wt-entity-share="[permission,project.info.pid,'orders',order.tid,order.status]">-->
					<a href="javascript:;" title="发布"
					ng-click="js_order_share($event,order)" ng-if="order.status < 1">
						<i class="icon-share"></i>发布
				</a> <a href="javascript:;" title="已发布" class="disabled"
					ng-if="order.status == 1"> <i class="icon-share"></i>已发布
				</a>
				</li>

				<li class="divider-v" ng-show="global.is_outter == false"
					wt-permission="[permission,project.info.curr_role,1,2]"></li>
				<li class="js-popbox" data-placement="bottom"
					ng-show="global.is_outter == false"
					wt-permission="[permission,project.info.curr_role,1,2]"><a
					href="#" class="dropdown-toggle" data-toggle="dropdown"
					title="添加附件"> <i class="icon-paper-clip"></i>附件
				</a>
					<ul class="dropdown-menu">
						<li><a href="javascript:;" class="fileinput-button"><i
								class="icon-desktop"></i>本地上传 <input name="files[]" title="添加附件"
								multiple="" wt-uploadfile="file_upload_option" type="file"></a>
						</li>
						<li><a href="javascript:;"
							ng-click="js_show_attach($event, order)"><i class="icon-file"></i>从项目文件选择</a></li>
					</ul></li>


				<li data-placement="bottom" class="js-popbox"
					wt-permission="[permission,project.info.curr_role,1,2]"
					ng-hide="permission==16 || permission==32 || global.is_outter == true"><a
					href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
					title="更多"> <i class="icon-chevron-down"></i>更多
				</a>
					<ul class="dropdown-menu pull-right">
						<li ng-show="!$root.global.is_outter || global.me.role==0"><a
							href="javascript:;" ng-click="js_trash($event, order)"> <i
								class="icon-trash"></i>删除
						</a></li>
					</ul></li>
				<li class="divider-v"></li>

				<li><a href="javascript:;"
					style="padding-top: 10px; padding-bottom: 10px;"
					ng-click="js_close()" title="关闭"> <i class="icon-remove"></i>
				</a></li>
			</ul>
		</div>
		<div class="entity-panel-body height-nonav"
			wt-scroll='{"advanced":{"autoScrollOnFocus":false}}'>
			<div class="content-panel">
				<div class="content-module editable-module"
					ng-cloak=""
					ng-include="'/view/entity/order/order_basic.html'"
					ng-show="!order.show_part || order.show_part==1"></div>
				<div class="content-module editable-module"
					ng-cloak=""
					ng-include="'/view/entity/order/order_tags.html'"
					ng-show="order.show_part==2"></div>
				<div class="content-module editable-module"
					 ng-cloak=""
					 ng-include="'/view/entity/order/order_user.html'"
					 ng-show="order.show_part==3"></div>
				<div class="content-module editable-module"
					ng-cloak="" ng-include="'/view/entity/order/order_comment.html'"
					ng-show="(order.show_part==8)"></div>
				<div class="content-module editable-module"
					ng-cloak="" ng-include="'/view/entity/order/order_activity.html'"
					ng-show="order.show_part==9"></div>
				<div class="content-module"
					ng-show="(!order.show_part || order.show_part==1) && (order.is_tag_edit || order.tags.length > 0)">
				</div>


				<div class="content-module dragfile-hover-show"
					ng-show="(!order.show_part || order.show_part==1) && (order.files.length &gt; 0 || global_fileupload_queue().length&gt;0)">
					<h4>
						<i class="icon-paper-clip"></i>附件
					</h4>

					<div class="entity-attachments">
						<ul>
							<wt-attachment ng-repeat="file in order.files"
								del="js_del_attachment($event, file)"
								del-permission="permission==1 &amp;&amp; ( project.info.curr_role==1 || project.info.curr_role==2)"></wt-attachment>
							<!--上传队列列表-->
							<wt-attachment class="attachment-progress"
								ng-repeat="file in global_fileupload_queue()"></wt-attachment>

							<!--拖拽上传提示-->
							<li class="dragfile-hover-placeholder"><span class="name"><i
									class="icon-upload-alt"></i>松开上传文件</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="sidebar-panel" data-minheight="120">
				<div class="sidebar-module">
					<h4>显示内容</h4>

					<div class="order-labels">
						<button class="btn btn-block js-popbox"
							ng-class="{'active ai-red':order.show_part == 1}"
							wt-tracker="Task Panel|Right|Setting Label"
							ng-click="js_show_part_1(order)" data-placement="left">
							<i class="icon-flag"></i>基本信息
						</button>
						<button class="btn btn-block js-popbox"
								ng-class="{'active ai-red':order.show_part == 3}"
								wt-tracker="Task Panel|Right|Setting Label"
								ng-click="js_show_part_3(order)" data-placement="left">
							<i class="icon-user"></i>订购信息
						</button>
						<button class="btn btn-block js-popbox"
							ng-class="{'active ai-red':order.show_part == 2}"
							wt-tracker="Task Panel|Right|Setting Label"
							ng-click="js_show_part_2(order)" data-placement="left">
							<i class="icon-tags"></i>类目属性
						</button>
						<button class="btn btn-block js-popbox"
							ng-class="{'active ai-red':order.show_part == 8}"
							wt-tracker="Task Panel|Right|Setting Label"
							ng-click="js_show_part_8(order)" data-placement="left">
							<i class="icon-comments"></i>订单评论
						</button>
						<button class="btn btn-block js-popbox"
							wt-tracker="Task Panel|Right|Setting Label"
							ng-class="{'active ai-red':order.show_part == 9}"
							ng-click="js_show_part_9(order)" data-placement="left">
							<i class="icon-history"></i>历史记录
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
