<div class="click-other-dont-hide">
    <div class="modal-header" style="background-color: #5cb85c;">
        <h3 class="modal-title" style="color:#fff;padding-left: 20px;">保存成功
            <i class="pull-right icon-close cursor"
               style="margin-top: 5px;margin-right: 5px;color: #fff;font-size: 16px"
               ng-click="$parent.modalCtrl.close()"></i>
        </h3>
    </div>
    <div class="modal-body" style="padding-bottom: 0px;padding-bottom: 0px;padding-left: 0px;">
        <div class="center-block">
            <div class="form-group pt_10">
                <h4 class="text-center">
                    <img class="mr_10" src="../../img/icons/check.png" alt="^_^"/>
                    成功保存到&nbsp;<strong>我的开发信</strong>
                </h4>
            </div>
            <div class="form-group ptb_10">
                <div class="col-xs-12 text-center">
                    <a href="javascript:;" target="_self" ng-click="$parent.modalCtrl.has_been_ok()">
                        <button class="ml_15 btn btn-success">
                            确定
                        </button>
                    </a>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>