.explore-page .left {
    width: 100%
}

.explore-page .left .left-nav {
    margin: 15px 0px 20px;
    background: #f8f8f8
}

.explore-page .left .left-nav h3 {
    border-bottom: 2px solid #eee;
    margin: 0;
    height: 30px;
    font: 16px/30px 'microsoft yahei'
}

.explore-page .left .left-nav h3 span {
    padding: 3px 10px;
}

.explore-page .left .left-nav h3 span.active {
    border-bottom: 2px solid #3576b6
}

.explore-page .left .left-nav form {
    margin-bottom: 0
}

.explore-page .left .left-nav .search {
    background: #f2f2f2;
    padding: 10px;
    position: relative
}

.explore-page .left .left-nav .search input {
    width: 100%;
    height: 32px;
    border: 1px solid #ddd;
    padding: 4px
}

.explore-page .left .left-nav .search button {
    position: absolute;
    background: transparent;
    border: 0;
    border-left: 1px solid #ddd;
    top: 15px;
    right: 15px;
    height: 20px;
    color: #999;
    padding-left: 8px
}

.explore-page .left .left-nav .search button .caret {
    margin-top: 9px;
    opacity: 0.6
}

/*
.explore-page .left .left-nav .search .dropdown-menu {
    margin: -11px 0 0 10px;
    border-radius: 0;
    width: 278px
}
*/

.explore-page .left .left-nav .chart {
    padding: 10px
}

.explore-page .left .left-nav .chart dl {
    height: 20px;
    margin: 0;
    position: relative
}

.explore-page .left .left-nav .chart dl dt {
    position: absolute;
    color: #555
}

.explore-page .left .left-nav .chart dl dd {
    margin-left: 80px;
    color: #666
}

.explore-page .left .left-nav .chart dl dd .value-bar {
    height: 10px;
    vertical-align: middle;
    background: #3576b6;
    display: inline-block;
    margin: 0 5px
}

.explore-page .left .left-nav #discovery_hot_tags {
    padding: 15px 10px;
    line-height: 200%;
    font-family: "microsoft yahei";
    text-align: center
}

.explore-page .left .left-nav #discovery_hot_tags a {
    margin-right: 5px;
    color: #777;
    white-space: nowrap
}

.explore-page .left .left-nav #discovery_hot_tags a.size1 {
    font-size: 28px;
    color: #555
}

.explore-page .left .left-nav #discovery_hot_tags a.size2 {
    font-size: 20px
}

.explore-page .left .left-nav #discovery_hot_tags a.size3 {
    font-size: 16px
}

.explore-page .left .left-nav #discovery_hot_tags a.size4 {
    font-size: 14px
}

.explore-page .left .left-nav #discovery_hot_tags a.size5 {
    font-size: 12px
}

.explore-page .left .left-nav #discovery_hot_tags a:hover {
    color: #234f7a;
    text-decoration: underline;
}

.explore-page .left .left-nav .tags {
    padding: 10px
}

.explore-page .left .left-nav .tags li {
    margin: 5px 0px;
    border: 1px solid #eee;
    background: #fff;
    padding: 3px 10px;
    position: relative
}

.explore-page .left .left-nav .tags li i {
    position: absolute;
    right: 5px;
    top: 8px;
    color: #999;
    cursor: pointer
}

.explore-page .left .left-nav .tags li i:hover {
    color: #3576b6
}

.explore-page .left .left-nav .tags.remove_tag li {
    border-color: #ddd;
    background: #eee
}

.explore-page .right {
    width: 640px
}

.explore-page .right .result_li > dd.explore_des {
    width: 580px
}

/*
guide-box
*/

.guide-box .tooltip-inner {
    max-width: 200px;
    padding: 7px 18px 7px 9px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #222222;
    border-radius: 3px;
    opacity: 0.75;
}

.guide-box .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.guide-box .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    opacity: 0.75;
    border-top-color: #222222
}

.guide-box .tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    opacity: 0.75;
    border-top-color: #222222
}

.guide-box .tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    opacity: 0.75;
    border-top-color: #222222
}

.guide-box .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    opacity: 0.75;
    border-right-color: #222222
}

.guide-box .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    opacity: 0.75;
    border-left-color: #222222
}

.guide-box .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    opacity: 0.75;
    border-bottom-color: #222222
}

.guide-box .icon-close {
    font-weight: 600;
}

.guide-box .guide-open {
    opacity: 1
}

.guide-box .guide-close {
    opacity: 0;
}

.wt-new-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    font: 16px/1.62 "Helvetica Neue", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
    color: #2c3e50;
    border-opacity: .5;
    border: 1px solid #e3e5f1;
    border-radius: 2px;
    z-index: 2000;
}

.wt-new-editor .wne-title {
    padding-left: 0;
    width: 100%
}

.wt-new-editor .wne-title .wne-title-input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background: #fff;
    font-size: 20px;
    font-family: 'Segoe UI Light', SegoeUILightWF, Arial, sans-serif;
    border: none;
    border-left: 2px solid transparent;
    padding-left: 10px;
    line-height: normal
}

.wt-new-editor .wne-title .wne-title-input:focus {
    border-opacity: .5;
    outline: none;
    background-color: #fff;
    box-shadow: none !important;
    border-left: 2px solid #5cb85c !important
}

.wt-new-editor .wne-title .title-seperator-line {
    height: 1px;
    margin-top: 10px;
    border: 1px solid #ddd;
    width: 98.5%;
    margin: 1px auto
}

.wt-new-editor .toolbar-content-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%
}

.wt-new-editor .toolbar-content-container .wne-toolbar {
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 3px;
    opacity: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #808080;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear
}

.wt-new-editor .toolbar-content-container .wne-toolbar a {
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color: #fff;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: all .5s ease;
    padding: 6px 4px;
    float: left;
    width: 29px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.wt-new-editor .toolbar-content-container .wne-toolbar a:hover {
    color: #f00;
    opacity: .4
}

.wt-new-editor .toolbar-content-container .wne-toolbar a:active {
    color: rgba(129, 39, 22, 0.8);
    background: #414242
}

.wt-new-editor .toolbar-content-container .fullscreeen-btn-container {
    display: none !important;
    display: inline-block;
    position: absolute;
    left: -18px;
    top: -5px
}

.wt-new-editor .toolbar-content-container .fullscreeen-btn-container .fullscreen-btn {
    display: inline-block;
    padding: 6px 4px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.wt-new-editor .toolbar-content-container .fullscreeen-btn-container .fullscreen-btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.wt-new-editor .toolbar-content-container:hover .wne-toolbar {
    opacity: .85
}

.wt-new-editor .toolbar-content-container .wnd-content {
    width: 100%;
    padding-top: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

.wt-new-editor .toolbar-content-container .wnd-content .wnd-content-textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    resize: none;
    font-size: 16px;
    height: 100%;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    border: 2px solid transparent;
    background: #fff
}

.wt-new-editor .toolbar-content-container .wnd-content .wnd-content-textarea:focus {
    outline: none
    border-left: 2px solid #5cb85c !important;
}

.wt-new-editor .toolbar-content-container .flip-container {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%
}

.wt-new-editor .toolbar-content-container .flip-container .flipper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: .3s
}

.wt-new-editor .toolbar-content-container .flip-container .flipper .front, .wt-new-editor .toolbar-content-container .flip-container .flipper .back {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background-color: #fff
}

.wt-new-editor .toolbar-content-container .flip-container .flipper .front {
    display: block;
    z-index: 2
}

.wt-new-editor .toolbar-content-container .flip-container .flipper .back {
    display: none;
    z-index: 1;
    overflow-y: auto;
    padding: 4px;
    padding-left: 12px
}

.wt-new-editor .toolbar-content-container .flip-container .flipper .back .back-background {
    width: 100%
}

.wt-new-editor .toolbar-content-container .flip-container.flipped .flipper .back {
    display: block
}

.wt-new-editor .toolbar-content-container .flip-container.flipped .flipper .front {
    display: none
}

.wt-new-editor .fullscreen-editing {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0
}

.wt-new-editor .fullscreen-editing .wne-toolbar {
    display: block;
    background-color: #4a4a4a;
    border-color: #393939
}

.wt-new-editor .fullscreen-editing .wne-toolbar :first-child {
    border-left: solid 0 transparent !important
}

.wt-new-editor .fullscreen-editing .wne-toolbar :last-child {
    border-right: solid 0 transparent !important
}

.wt-new-editor .fullscreen-editing .wne-toolbar .tool-btn-group {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #ddd;
    height: 38px;
    margin: 0;
    padding: 0 5px;
    border-left: solid 1px #444;
    border-right: solid 1px #555
}

.wt-new-editor .fullscreen-editing .wne-toolbar .tool-btn-group .save-command {
    width: auto
}

.wt-new-editor .fullscreen-editing .wne-toolbar .tool-btn-group li {
    float: left;
    width: 36px;
    height: 20px;
    padding: 6px 7px;
    cursor: pointer;
    height: 38px;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s
}

.wt-new-editor .fullscreen-editing .wne-toolbar .tool-btn-group li .btn-success {
    height: 28px;
    padding: 3px 25px
}

.wt-new-editor .fullscreen-editing .wne-toolbar .tool-btn-group li a {
    color: #ddd
}

.wt-new-editor .fullscreen-editing .wne-toolbar .tool-btn-group li:hover {
    background-color: #313131 !important
}

.wt-new-editor .fullscreen-editing .wne-title .fullscreen-title-input {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    line-height: normal;
    font-size: 20px;
    font-family: 'Segoe UI Light', SegoeUILightWF, Arial, sans-serif;
    border: none;
    border-left: 2px solid transparent;
    padding-left: 10px
}

.wt-new-editor .fullscreen-editing .wne-title .fullscreen-title-input:focus {
    border-opacity: .5;
    outline: none;
    background-color: #fff;
    border-left: 2px solid #5cb85c
}

.wt-new-editor .fullscreen-editing .wne-title .title-seperator-line {
    height: 1px;
    margin-top: 10px;
    border: 1px solid #ddd;
    width: 98.5%;
    margin: 1px auto
}

.wt-new-editor .fullscreen-editing .left-right-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 110px
}

.wt-new-editor .fullscreen-editing .left-right-container .left-side {
    top: 0;
    background-color: #fff;
    left: 0;
    right: 50%;
    margin-left: 15px;
    margin-rigt: 15px
}

.wt-new-editor .fullscreen-editing .left-right-container .left-side .fullscreen-mk-content-textarea {
    width: 100%;
    outline: none;
    font-size: 16px;
    height: 100%;
    border: 1px transparent;
    background-color: transparent
}

.wt-new-editor .fullscreen-editing .left-right-container .right-side {
    overflow-y: auto;
    background-color: #f6f6f6;
    left: 51%;
    right: 100%;
    top: 0
}

.wt-new-editor .fullscreen-editing .left-right-container .right-side .html-box {
    margin-top: 15px;
    margin-left: 15px;
    margin-rigt: 15px
}

.wt-new-editor .fullscreen-editing .left-right-container .left-side, .wt-new-editor .fullscreen-editing .left-right-container .right-side {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    bottom: 0;
    width: 49%
}

.wt-new-editor .mini-container {
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: 0
}

.wt-new-editor .mini-container .mini-toolbar {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 10px;
    z-index: 5;
    width: 100px
}

.wt-new-editor .mini-container .mini-toolbar a {
    padding: 5px
}

.wt-new-editor .mini-container .mini-toolbar a:hover {
    color: #fff;
    opacity: .3;
    border-radius: 3px;
    background-color: #000
}

.wt-new-editor .mini-container .mini-content {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%
}

.wt-new-editor .mini-container .mini-content .mini-content-textarea {
    box-sizing: border-box;
    border: 1px transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}