<ul class="popbox-step" ng-switch on="step">
    <li ng-switch-default class="popbox-step-li">
        <div class="popbox-header">
            <button class="cancel icon-remove" ng-click="js_close()"></button>
            <h3>文件选项</h3>
        </div>
        <div class="popbox-body">
            <ul class="popbox-menu">
                <li><a href="javascript:;" ng-click="js_step(1)"><i class="icon-eye-open"></i> 添加关注</a></li>
                <li class="divider"></li>
                <li><a ng-href="{{file | wtBoxDownload}}"><i class="icon-download-alt"></i> 下载</a></li>
                <li class="divider"></li>
                <li><a ng-click="js_step(2)" href="javascript:;"><i class="icon-share-alt"></i> 移动到...</a></li>
                <li><a ng-click="js_step(3)" href="javascript:;"><i class="icon-trash"></i> 删除</a></li>
            </ul>
        </div>
    </li>

    <li ng-switch-when="1" class="popbox-step-li">
        <wt-toggle-members toggle-click="js_toggle_watch($event, member, xEntity)" pid="pid"
                           type="watch" entity="file"  all-member-click="js_watch_all($event, members, xEntity)"/>

    </li>

    <li ng-switch-when="2" class="popbox-step-li">
        <div class="popbox-header">
            <button class="back icon-chevron-left" ng-click="js_step(0)"></button>
            <button class="cancel icon-remove" ng-click="js_close()"></button>
            <h3>移动文件到</h3>
        </div>
        <div class="popbox-bodywrapper" wt-scroll>
            <div class="popbox-body">
                <ul class="popbox-menu">
                    <li ng-repeat="folder in folders">
                        <a href="javascript:;" ng-click="js_move_to(folder)">
                            <span class="icon" ng-class="{true:'icon-ok',false:''}[folder.selected == 1]"></span>
                            <span>{{folder.name}}</span>
                        </a>
                    </li>
                    <li ng-show="folders==0">
                        <div class="empty-menu">没有其它文件夹</div></li>
                </ul>
            </div>
        </div>
    </li>
    <li ng-switch-when="3" class="popbox-step-li">
        <div class="popbox-header">
            <button class="back icon-chevron-left" ng-click="js_step(0)"></button>
            <button class="cancel icon-remove" ng-click="js_close()"></button>
            <h3>删除文件</h3>
        </div>
        <div class="popbox-body">
            <!--<span>文件删除后会放在回收站，可以在回收站选择<br/>恢复或者彻底删除。</span>-->
            <span>警告：文件删除后会将无法找回！</span>
        </div>
        <div class="popbox-footer">
            <button ng-click="js_del_file()" class="btn btn-danger">确定删除</button>
        </div>
    </li>
</ul>