<div class="check_result">
    <div class="check_header">
        <h4>邮件状态说明 </h4>
        <i class="pull-right icon-close cursor" style="margin-top: 5px;margin-right: 15px;color: #fff;font-size: 20px" ng-click="close()">
        </i>
    </div>
    <div class="status_describe_body">
        <div class="status_describe_ul" >
            <ul>
                <li class="row" >
                    <div class="col-sm-3 status" >投递中:</div>
                    <div class="col-sm-9 describe" >正在投递邮件</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >投递失败:</div>
                    <div class="col-sm-9 describe" >由于网络原因，邮件提交给服务器失败了，系统会继续发送</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >无效邮箱:</div>
                    <div class="col-sm-9 describe" >这个邮箱是无效的</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >已投递:</div>
                    <div class="col-sm-9 describe" >这个邮件已经投递给服务器了</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >已发送:</div>
                    <div class="col-sm-9 describe" >这个邮件已经发送了</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >已弹回:</div>
                    <div class="col-sm-9 describe" >因为多种原因，邮件被弹回了</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >已送达:</div>
                    <div class="col-sm-9 describe" >邮件已经送达活动邮箱</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >已打开:</div>
                    <div class="col-sm-9 describe" >活动已经打开了邮件</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >点击链接:</div>
                    <div class="col-sm-9 describe" >活动已经打开了邮箱，并点击了邮件里的链接</div>
                </li>
                <li class="row" >
                    <div class="col-sm-3 status" >额度已满:</div>
                    <div class="col-sm-9 describe" >今天不能给这个活动发送更多的邮件，排队等待中</div>
                </li>
            </ul>
        </div>
    </div>
</div>