<div class="check_result">
    <div class="check_header">
        <h4>Email Spam Checker 详细说明 </h4>
        <i class="pull-right icon-close cursor" style="margin-top: 5px;margin-right: 15px;color: #fff;font-size: 20px" ng-click="close()">
        </i>
    </div>
    <div class="check_body">
        <p   style="font-size:16px;font-weight:bold">(一) 用途</p>
        <p  style="margin-bottom:24px">做留学的过程中，很多时候邮件会进入国外活动的垃圾箱中，造成活动不能正常查看业务邮件。
            在关键的时候，甚至会影响合同，订单，出运等紧急事务。造成这种情况的一个重要原因就是你的邮件内容中带有敏感词汇，也称为垃圾词汇。
            Email Spam Checker v1.0 则是使用文本分析方法，为你找出邮件中的各类敏感词。
        </p>
        <p   style="font-size:16px;font-weight:bold">(二) 原理</p>
        <p  style="margin-bottom:24px">如上所述，Email Spam Checker v1.0 会对文本进行扫描，从词汇和上下文结构中，
            分析词汇、短语、句子中会被多数ESP Gateway以及Email Content Filter列为垃圾词汇的内容。
        </p>
        <p   style="font-size:16px;font-weight:bold">(三) 用法</p>
        <p  style="margin-bottom:24px">
            （1） 将邮件标题和邮件内容输入或粘贴到检测框中 <br>
            （2） 点击【开始检测】按钮，程序会对内容进行扫描分析 <br>
            （3） 分析完成之后，程序会列出检测到的敏感词，并对其进行评分 <br>
            （4） 修改或替换邮件标题和内容中出现的敏感词，提高邮件到达率
        </p>
    </div>
</div>