<div class="click-other-dont-hide just-for-mailbox">
    <div class="modal-header" style="background-color: #5cb85c;">
        <h4 class="modal-title" style="color:#fff;padding-top: 5px;">已发送
            <i class="pull-right icon-close cursor" style="margin-top: 2px;margin-right: 5px;color: #fff;"
               ng-click="close()"></i>
        </h4>
    </div>
    <div class="modal-body">
        <div class="center-block text-center clearfix pb_10">
            <h4 class="text-muted">可以到 <a href="/mail" target="_self">我的邮件</a> 中查看已发邮件</h4>
            <h4 class="text-muted">可以到 <a href="/tasks" target="_self">我的活动</a> 中查看已发活动</h4>
            <button class="btn btn-success text-center mr_10" ng-click="close()">确定</button>
        </div>
    </div>
</div>