<div ng-hide="project.is_edit">
    <div class="entity-title" ng-include="'/view/entity/project/project_title.html'">
    </div>
    <!--<wt-badges project="project"></wt-badges>-->
    <wt-project-tags project="project" tagtype="normal"></wt-project-tags>
    <div class="new-tag"
         ng-show="global.is_outter==false"
         wt-permission="[permission,project.info.curr_role,1,2]">
        <a href="javascript:;" ng-click="js_show_add_tag_editor(project)"
           wt-tracker="Task Panel|Main|Add Attachments"
           ng-hide="project.is_add_tag_edit"> 添加标签 </a>

        <div class="new-tag-control" ng-show="project.is_add_tag_edit"
             wt-show-edit="project.is_add_tag_edit">
            <div>

                <input class="new-tag-text form-control" ng-model="tag.temp_name"
                       ui-keyup="{'esc':'js_keyup_add_tag($event, project, tag)' }"
                       wt-enter="js_add_tag(project, tag)" placeholder="输入标签" type="text">
            </div>
            <button class="btn btn-success" data-loading-text="添加"
                    loading-status="tag.is_saving"
                    wt-tracker="Task Panel|Main|Add Attachments-Add"
                    ng-click="js_add_tag(project, tag)">添加
            </button>
            <button class="btn btn-link tag-del"
                    wt-tracker="Task Panel|Main|Add Attachments-Cancel"
                    ng-click="js_cancel_add_tag_editor(project)">取消
            </button>
        </div>
    </div>
    <div class="task-desc wt-row"
         ng-show="project.is_edit || project.title.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>中文标题</label>
        {{project.title}}
    </div>

    <div class="task-desc wt-row"
         ng-show="project.is_edit || project.title.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>项目id</label>
        {{project.eid}}
    </div>

    <div class="task-desc wt-row"
         ng-show="project.is_edit || project.enName.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>英文标题</label>
        {{project.enName}}
    </div>

    <div class="task-desc wt-row"
         ng-show="project.is_edit || project.imageUrl.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>图像URL</label> <img style="width: 120px"
								src="{{project.imageUrl|imageFullPath}}" alt="{{project.imageUrl}}" />
    </div>

    <div class="task-desc wt-row"
         ng-show="project.is_edit || project.url.length>0 || permission==4">
        <label class="col-xs-3 control-label p_0"><i
                class="mr_5 ai-gray"></i>项目URL</label> {{project.url}}
    </div>


    <div class="task-desc wt-row"
         ng-show="project.is_edit || project.desc.length>0 || permission==4">
        <label class="col-xs-2 control-label p_0"><i
                class="icon-bookmark-o mr_5 ai-gray"></i>描述</label>
        <div class="task-desc-text markdown" wt-markdown="project.desc"></div>
    </div>
</div>
<div class="edit-section"
     ng-show="project.is_edit && (!project.show_part || project.show_part==1)">
    <div class="form-group">
        <div class="input-group">
			<span class="input-group-addon fs_15">中文标题</span> <input autofocus=""
                                                              ng-model="project.temp_title"
                                                              wt-enter="js_set_update($event, project)"
                                                              class="form-control" placeholder="中文标题" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
			<span class="input-group-addon fs_15">英文标题</span> <input autofocus=""
                                                              ng-model="project.temp_enName"
                                                              wt-enter="js_set_update($event, project)"
                                                              class="form-control" placeholder="英文标题" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
			<span class="input-group-addon fs_15">图片URL</span> <input autofocus=""
                                                               ng-model="project.temp_imageUrl"
                                                               class="form-control" placeholder="图片URL" type="text">
        </div>
    </div>
    <div class="pos_relative editor-container mt_10"
         ng-class="{true: 'height-main-min-j4-new-template-by-auto-mailbox-outter-with-one-input-above',
                                            false: 'height-main-min-j4-new-template-by-auto-mailbox-inner-with-one-input-above'}[$root.global.is_outter]">
        <wt-new-editor class="" edit-content="project.temp_desc"
                       wt-ctrl-enter="js_set_update($event, project)"
                       placeholder="添加项目描述(按Ctrl + 回车键提交)"></wt-new-editor>
    </div>
    <div class="form-group">
        <button ng-click="js_set_update($event, project)"
                data-loading-text="保存中..." loading-status="project.is_saving"
                class="btn btn-success mr_15"
                wt-tracker="Task Panel|Main|Edit Task-Save">保存
        </button>
        <button ng-click="js_cancel_editor(project)" class="btn"
                wt-tracker="Task Panel|Main|Edit Task-Cancel">取消
        </button>
    </div>
</div>
