<div class="prj_sidebar_step_body">
    <dl class="prj_sidebar_dl">
        <dt>选择导出的数据</dt>
        <dd>
            <ul class="prj_sidebar_step_menu">
                <li>
                    <a href="/api/projects/{{pid}}/tasks/exports?format=json" target="_blank">
                        <i class="icon-check"></i> 任务  </a>
                </li>
                <li>
                    <a href="/api/projects/{{pid}}/files/exports?format=json" target="_blank">
                        <i class="icon-file"></i> 文件</a>
                </li>
                <li>
                    <a href="/api/projects/{{pid}}/posts/exports?format=json" target="_blank">
                        <i class="icon-list-alt"></i> 话题</a>
                </li>
                <li>
                    <a href="/api/projects/{{pid}}/pages/exports?format=json" target="_blank">
                        <i class="icon-file-text-alt"></i> 文档</a>
                </li>
            </ul>
        </dd>
    </dl>
</div>