<div class="prj_sidebar_step_body">

    <dl class="prj_sidebar_dl">
        <dt>任务完成后自动归档</dt>
        <dd>
            <ul class="checkable">
                <li>
                    <i class="icon-ok pull-right" ng-if="project.info.auto_archived == 1"></i>
                    <a href="javascript:;" ng-click="js_toggle_autoarchive()">
                        <span class="ml_15" ng-if="project.info.auto_archived == 1">开启</span>
                        <span class="ml_15" ng-if="project.info.auto_archived == 0">关闭</span>
                    </a>
                </li>
            </ul>
        </dd>
    </dl>
    <div class="hr"></div>

    <dl class="prj_sidebar_dl">
        <dt>日历中显示已完成任务</dt>
        <dd>
            <ul class="checkable">
                <li>
                    <i class="icon-ok pull-right" ng-if="project.info.show_completed == 1"></i>
                    <a href="javascript:;" ng-click="js_toggle_show_done_task_in_event()">
                        <span class="ml_15" ng-if="project.info.show_completed == 1">开启</span>
                        <span class="ml_15" ng-if="project.info.show_completed == 0">关闭</span>
                    </a>
                </li>
            </ul>
        </dd>
    </dl>

</div>