<div class="layout_content prj_panel" ng-show="permission == 64">
    <div class="layout_content_main no_sidebar">
        <dl class="frame" data-minheight="90">
            <dt>
                <span class="title">出错啦</span>
            </dt>
            <dd>
                <div class="error-panel">
                    <i class="icon-sitemap"></i><br/>
                    <span>团队不存在或者你不是当前团队成员</span><br/>
                    <a class="btn btn-danger" href="/account/teams">管理我的团队</a>
                </div>
            </dd>
        </dl>
    </div>
</div>