<div class="other-warp"  ng-controller="activeCtrl">
    <div data-minheight="58" class="single-panel clearfix">
        <div class="single-panel-inner middle" data-ng-show="true">
            <div class="single-panel-header">
                <h3>帐户激活</h3>
            </div>
            <div class="single-panel-body">
                <div class="success-panel" ng-show="true">
                    <i class="imgicon-warning"></i>
                    <br/>
                    <span style="color: orangered">您的帐户激活失败，请再试一次，或<a href="/callus">联系我们</a>！</span>
                    <br/> <br/>
                </div>
                <!--<div class="error-panel" ng-show="invalid_input">-->
                    <!--<i class="icon-info-sign pr_10"></i>-->
                    <!--<br/>-->
                    <!--<span>重置邮箱地址已经过期，请检查您的邮箱或者重新设置</span>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>