<div id="index-wrap">
    <div class="index-banner">
        <div class="index-banner-wrap">
            <div align="center" style="width: 500px;" class="index-banner-inner">
            <!---
                <div style="width: 300px;font-size: 18px;color: white;" >
                    <img src="img/index/i1.png?ver=3.0.5" alt="提高效率"/>找活动好难?<br>
                    <img src="img/index/i1.png?ver=3.0.5" alt="提高效率"/>开发信不回?<br>
                    <img src="img/index/i1.png?ver=3.0.5" alt="提高效率"/>开发没效果?
                </div>

                <h2>怎么办？开发活动就上棒呆！</h2>
            --->
                <div class="index-banner-action" style="margin-top: 60px;margin-left:-255px;">
                    <div>
                        <p style="color: white;font-size: 30px;">让留学开发更简单</p>
                        <p style="color:#0d0d0d;margin-top:30px;font-family: '微软雅黑';font-size: 22px;">没有google，怎么找活动？上棒呆，<br/>比google还简单！</p>
                    </div>

                    <a ng-hide="global.is_login" class="btn btn-success " style="padding:9px 48px;font-size:18px;" href="/signup"
                       wt-tracker="Index Page|Banner|Goto Apply"> <span>免费注册</span>
                    </a>
                    <a ng-hide="global.is_login" class="ml_15" href="/signin"><span style="font-size: 16px;">或登录</span></a>
                </div>
                <div class="index-banner-carousel"></div>

            </div>
        </div>
    </div>

    <div class="index-body" style="margin-top: -25px">
        <h3 class="index-feature-title">
            <span>让留学开发更高效，出成效</span>
        </h3>

        <ul class="index-feature">

            <li style="width: 33%" class="cursor" ng-click="skip('/customer')"><img src="img/index/i1.png?ver=3.0.5" alt="提高效率"/> <br/>
                <h4>海量活动信息</h4>
                <strong>-&nbsp;</strong>直达带联系人和邮件的活动<br>
                <strong>-&nbsp;</strong>通过数据分析瞄准活跃活动<br>
                <strong>-&nbsp;</strong>快速发送开发邮件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li style="width: 33%" class="cursor" ng-click="skip('/template')"><img src="img/index/i2.png?ver=3.0.5" alt="无缝沟通"/> <br/>
                <h4>优质的邮件模板</h4>
                <strong>-&nbsp;</strong>涵盖业务开发、追踪、谈判等环节<br>
                <strong>-&nbsp;</strong>通过数据分析确定模板的开发效果<br>
            </li>
            <li style="width: 33%" class="cursor" ng-click="skip('/post')"><img src="img/index/i3.png?ver=3.0.5" alt="资源共享"/> <br/>
                <h4>留学干货分享</h4>
                <strong>-&nbsp;</strong>留学业务开发技巧干货精华&nbsp;&nbsp;&nbsp;<br>
                <strong>-&nbsp;</strong>对留学问答分门别类进行管理<br>
            </li>

        </ul>

        <div class="index-who">
            <div class="index-who-inner">
                <h3 class="index-who-title">谁可以用</h3>
                <ul class="index-who-grid">
                    <li>
                        <i class="icon icon-book"></i>
                        留学活动
                    </li>
                    <li>
                        <i class="icon icon-sitemap"></i>
                        留学公司
                    </li>
                    <li>
                        <i class="icon icon-ambulance"></i>
                        供货商
                    </li>
                    <li>
                        <i class="icon icon-github-alt"></i>
                        厂家
                    </li>
                </ul>
                <div class="index-who-footer">不论你在留学行业中处于什么角色，我们都让你找到需要的资源</div>
            </div>
        </div>
    </div>
</div>