<div class="prj_sidebar_step_body">
    <div class="p_10">
        <form name="prj_update_form" wt-form-validate="{blurTrig:false,showMsg:false}"
              class="wt-form" role="form" novalidate>
            <div class="form-group">
                <label class="control-label">项目名称：</label>

                <div>
                    <input type="text" ng-model="project.info.new_name" placeholder="项目名称"
                           name="prj_name" autofocus required
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">项目公开性：</label>

                <div>
                    <select class="form-control" ng-model="project.info.new_visibility"
                            ng-options="visibility.id as visibility.name for visibility in visibilities"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">项目描述：</label>

                <div>
                    <textarea wt-ctrl-enter="js_prj_update(prj_update_form)"
                              ng-model="project.info.new_desc" placeholder="为项目添加简短描述（可选）"
                              name="prj_desc" rows="4"
                              class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button wt-form-submit="js_prj_update(prj_update_form)"
                            data-loading-text="保存中..." class="btn btn-success mr_15"
                            loading-status="is_prj_saveing">确定
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>