<div class="cascading-wapper">
    <div>
        <input ng-model="name" ng-focus="open()" placeholder="选择{{label}}" type="text" class="form-control" />
        <i class="pull-right cursor" ng-class="{true:'icon-caret-up',false:'icon-caret-down'}[show]" ng-click="open()" style="position: relative;left:-10px;top:-25px;"></i>
    </div>
    <!--style="max-height: 600px;overflow-y: scroll"-->
    <div ng-show="show" class="cascading" >
        <span class="small-icon icon-close" style="padding: 5px 0px 5px 0;  width: auto;height: auto;" ng-click="show=false"></span>
        <ul>
            <li class="inner_cascading_site" style="margin-right: -4px"><a ng-click="firstAllClick()" href="javascript:;"  ng-class="{'active':firstkey ==''}" style="padding-right:10px">全部{{ label }}</a></li>
            <li class="inner_cascading_site" ng-repeat="item in main" ng-click="setMain(item)" style="padding-right:10px;">
                <a href="javascript:;" ng-class="{'active': firstkey == item.code}" >{{ item.cnName }}</a></a>
            </li>
            <!--style="text-decoration: underline;"-->
        </ul>

        <ul ng-show="children.length>0">
            <li class="inner_cascading_site"  style="margin-right: -4px"><a ng-click="secondAllClick()" href="javascript:;"  ng-class="{'active':secondkey ==''}" style="padding-right:10px">全部</a></li>
            <li class="inner_cascading_site"  ng-repeat="item in children" ng-click="setChild(item)"  style="padding-right:10px">
                <a href="javascript:;" ng-class="{'active': secondkey == item.code}" >{{ item.cnName }}</a>
            </li>
        </ul>
    </div>
</div>