<!--<div class="hr" ></div>-->
<!--<ul class="prj_sidebar_module">-->
    <!--<li style="margin:0px">-->
        <!--<a href style="height: 54px; width:65px; border: 1px solid rgba(221, 221, 221, 0);padding: 0px;"  ng-click="feedback()">-->
            <!--<i class="icon-pencil " style="color:#4897DF "></i>-->
            <!--<div  style="padding-top: 3px;font-size: 12px">我要咨询</div>-->
        <!--</a>-->

    <!--</li>-->
<!--</ul>-->

        <div class="hr" ></div>
        <a href  ng-click="feedback()">
            <i class="icon-pencil " style="color:#4897DF;font-size: 24px;"></i>
            <div >我要咨询</div>
        </a>


<!--下面是tmall_sidebar中下角显示的在线反馈-->
<!--<div class="feed_back_wrapper">-->
    <!--<div class="new_feed_back"-->
         <!--tooltip="在线反馈" tooltip-placement="left"-->
         <!--ng-click="feedback()">在线<br />反馈-->
    <!--</div>-->
    <!--<div class="support label-info">-->
        <!--<a href="#"-->
           <!--onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=800023125&o=www.bonday.cn&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"-->
           <!--border="0">-->
            <!--<div class="qq-wrapper">-->
                <!--<img src="/img/icon-qq.png" alt="加载中"/>-->
            <!--</div>-->
            <!--<span>客服</span>-->
        <!--</a></div>-->
<!--</div>-->
